.course_play {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(transparent,transparent,#000);
    color: #fff;
    font-weight: 700;
    height: 100%;
    //max-height: 200px;
    position: absolute;
    text-align: center;
    width: 100%
}
.course_play .course_play_button {
	background-image: url('/website_slides_sale/static/src/img/play-button2.png');
	background-position-x: 50%;
    background-position-y: 50%;
    background-size: auto 50%;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 1;
	visibility: visible;
}
.course_play:hover .course_play_button {
	transform: scale(1.2);
}

.new_course_form .course_page {
    display: none;
}
.new_course_form .course_page show {
    display: block;
}

.sidebar li {
    margin-bottom: 15px;
    margin-right: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.sidebar li.active a {
    color: #21b799;
    text-deocration: underline;
}

.sidebar li a {
    color: #666666;
    padding-left: 18px;
    font-weight: 600;
    font-size: 14px;
}
.sidebar li a:hover {
    color: #21b799;
}
