// ------------------------------------------------------------------
// Discuss Sidebar Item
// ------------------------------------------------------------------

.o_DiscussSidebarItem {
    cursor: pointer;

    &:not(:hover) .o_DiscussSidebarItem_commands {
        visibility: hidden;
    }

    &:hover {
        @extend .bg-900;
    }
}

.o_DiscussSidebarItem .o_ThreadIcon:not(.o_ThreadIcon_coloredStatus) {
    @extend .text-400;
}

.o_DiscussSidebarItem_command:not(:hover) {
    @extend .text-500;
    background: none;
}
