<t t-set="mod" t-value="snake(name)" />
<t t-set="model" t-value="'%s.%s' % (mod, mod)" />
<odoo>
    <data>
<t t-out="lt" />!--<t t-foreach="range(5)" t-as="item">
          <record t-attf-id="object{{ item }}" t-attf-model="{{ model }}">
            <field name="name">Object <t t-out="item /></field>
            <field name="value"><t t-out="item * 10 /></field>
          </record>
<t t-out="lt" />/t>-->
    </data>
</odoo>
