{%- set mod= name|snake -%}
{%- set model = "%s.%s"|format(mod, mod) -%}
<odoo>
    <data>
{% for item in 'First,Second,Third'.split(',') %}
        <!--
        <record id="object{{ loop.index }}" model="{{ model }}">
            <field name="name">{{ item }} object</field>
            <field name="value">{{ loop.index * 10 }}</field>
        </record>
        -->
{% endfor %}
    </data>
</odoo>
