.o_control_panel_mrp {

    @include media-breakpoint-up(md) {
        .o_cp_top_left, .o_cp_top_middle, .o_cp_top_right {
            width: 33%;
        }
    }
    .o_cp_top_middle {
        text-align: center;
    }

    .o_selected {
        background-color: $list-group-active-bg;
    }
    .o_logo_img {
        height: 33px;
    }
}
