@keyframes longpress {
    0% {
        background: linear-gradient(90deg, $list-group-active-bg 0%, $list-group-active-bg 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
    }
    30% {
        background-position: 100% 0%;
    }
    98% {
        background-position: 0% 0%;
    }
    99% {
        background: linear-gradient(90deg, $list-group-active-bg 0%, $list-group-active-bg 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: 0% 0%;
    }
    100% {
        background: transparent;
    }
}

@keyframes dumblongpress {
    0% {
        background-color: white;
    }
    50% {
        background-color: white;
        transform: scale(100%) rotate(0deg);
    }
    99% {
        background-color: aqua;
    }
    100% {
        background-color: red;
        transform: scale(200%) rotate(3600deg);
    }
}

.o_mrp_display_record {
    min-width: 340px;
    max-width: 340px;

    &.o_active {
        .card-header {
            background-color: $list-group-active-bg;
        }
    }

    .list-group-item {
        cursor: pointer;
    }

    .o_longpressable {
        &:active {
            animation: longpress 1.3s forwards;
        }
    }
}
