// To align the radio / check-boxes with their label
.o_website_form_selection {
    padding-top: calc(#{$input-padding-y} + #{$input-border-width});
    padding-bottom: calc(#{$input-padding-y} + #{$input-border-width});
    margin-bottom: 0;
}

// vertical radio / check-boxes should be of full width
.o_website_form_checkbox, .o_website_form_radio {
    &:not(.row) .o_website_form_flex_item {
        max-width: 100%;
    }
}

// Hidden field is only partially hidden in editor
.o_website_form_field_hidden {
    display: none;
}

.editor_enable .o_website_form_field_hidden {
    display: block;
    opacity: 0.5;
}

// Select inputs do not trigger the default browser behavior
// Since we use a custom editable element
.editor_enable .s_website_form .form-field select {
    pointer-events: none;
}

// Required fields have a star which is not part of the field label
.o_website_form_required, .o_website_form_required_custom {
    .col-form-label:after {
        content: ' *';
    }
}

// Quickfix to display the editable select as a single big field
#editable_select.form-control {
    height: 100%;
}

// Fix for firefox browse button which is too big for Bootstrap form-field
// http://stackoverflow.com/questions/22049739/fix-for-firefox-file-input-using-bootstrap-3-1
.form-field input[type=file].form-control {
    height: 100%;
}
