// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_PartnerImStatusIcon {
    width: 1.2em;
    height: 1.2em;
    line-height: 1.3em;

    &.o-has-open-chat {
        cursor: pointer;
    }
}

.o_PartnerImStatusIcon_outerBackground {
    transform: scale(1.6);
}

.o-background {
    transform: scale(1);
    margin-inline-end: map-get($spacers, 1);
    margin-top: 2px;
}
