.o-mail-Composer-actions button:hover {
    background-color: $gray-300;
}

.o-mail-Composer {
    --o-mail-Composer-coreHeader-bg: #{$o-gray-300};
}

.o-mail-Message:hover {
    --background-color: #{$o-gray-300};
}
