.o-EmojiPickerMobile {
    height: 55vh;
    width: 100%;
    --o-emoji-picker-active: #{$gray-200};

    .o-Emoji {
        width: 40px;
        font-size: 1.5rem !important;
    }
}

.o-EmojiPicker-navbar {
    gap: 0.5rem !important;
}
