// =========== VENDOR PREFIX ===========
@mixin flex-display {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}

@mixin justify-content($justify) {
    -webkit-box-pack: $justify;
    -webkit-justify-content: $justify;
    -moz-box-pack: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
}

@mixin flex-flow($flow, $wrap) {
    -webkit-flex-flow: $flow $wrap;
    -moz-flex-flow: $flow $wrap;
    -ms-flex-flow: $flow $wrap;
    -o-flex-flow: $flow $wrap;
    flex-flow: $flow $wrap;
}

@mixin flex-wrap() {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flex-grow($grow) {
    -webkit-box-flex: $grow;
    -webkit-flex-grow: $grow;
    -moz-box-flex: $grow;
    -ms-flex-positive: $grow;
    flex-grow: $grow;
}
