.o_foldable_menu {
    &.o_closed_menu {
        display: none;
    }
    .o_open_menu {
        display: block;
    }
}

.select2-container {
    a:before {
        display: none !important;
    }
}

.o_pipeline {
    background-color: white;
    font-family: 'Lato', sans-serif;

    .o_crm_opportunity_pipeline {
        display: flex;
        padding: 10px;
        overflow-x: auto;
        .o_crm_stage {
            cursor: pointer;
            flex: 1;
            min-width: 16%;
            position: relative;
            padding: 10px 20px;
            background: #e8e8e8;
            &:after {
                .o-position-absolute(@top:0px, @right:2px);
                .o-caret-right(41px);
                border-left-color: #e8e8e8;
            }
            &:before {
                .o-position-absolute(@top:0px, @right:0px);
                .o-caret-right(41px);
                border-left-color: #fff;
            }
            .name {
                font-weight: bold;
            }
            .percentage {
                font-size: 18px;
                font-weight: bold;
            }
            &:last-child {
                &:before {
                    border-left-color: #e8e8e8;
                }
            }
        }
    }
    .o_pipeline_content {
        .o_click_action_pivot, a{
            cursor: pointer;
        }
        display: flex;
        font-size: 1.2em;
        b {
            font-size: 1.6em;
        }
        .o_crm_pipeline_box {
            min-width: 30%;
            .o_pipeline_side_box {
                padding: 20px;
                margin-top: 10%;
                box-shadow: 0px 0px 1px 0px #666666;
                position: relative;
                min-height: 100px;
            }
            a {
                cursor: pointer;
            }
        }

        .o_deals {
            min-width: 7%;
            margin: 9% 2% 5% 3%;
        }
        .o_won_deals {
            color: green;
        }
        .o_lost_deals {
            color: red;
        }

        .o_piechart_img {
            margin-top: 5%;
        }
        .o_funnel {
            right: 0;
            text-align: center;
        }
    }
}
