$o-theme-layout: 'full';

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$o-base-color-palette: map-merge($o-base-color-palette, (
    'body': $o-portal-default-body-bg,
    'menu': 2, // o_cc2
    'footer': 5, // o_cc5
));

// By default, all user color palette values are null. Each null value is
// automatically replaced with corresponsing color of chosen color palette.
$o-user-color-palette: () !default;

// By default, all user theme color palette values are null. Each null value
// is automatically replaced with corresponsing color of chosen theme color
// palette.
$o-user-theme-color-palette: () !default;

$o-social-colors: (
    'facebook': #3B5999,
    'twitter': #55ACEE,
    'linkedin': #0077B5,
    'google-plus': #DD4B39,
    'youtube': #ff0000,
    'github': #1a1e22,
    'instagram': #cf2872,
    'whatsapp': #25d366,
    'pinterest': #C8232C,
);

$o-theme-figcaption-opacity: 0.6;

$o-theme-generic-color-palettes: (
    (
        'o-color-1': #984c46,
        'o-color-2': #23323b,
        'o-color-3': #eceae4,
        'o-color-4': #FFFFFF,
        'o-color-5': #16121f,
    ),
    (
        'o-color-1': #B99932,
        'o-color-2': #DED1C1,
        'o-color-3': #F5F5F5,
        'o-color-4': #FFFFFF,
        'o-color-5': #373737,
    ),
    (
        'o-color-1': #f8882f,
        'o-color-2': #6a7c8f,
        'o-color-3': #fdf8ef,
        'o-color-4': #FFFFFF,
        'o-color-5': #212c39,
    ),
    (
        'o-color-1': #6E7993,
        'o-color-2': #96848C,
        'o-color-3': #8F9AA2,
        'o-color-4': #D5D5D5,
        'o-color-5': #313347,
    ),
    (
        'o-color-1': #F7CF41,
        'o-color-2': #1A2930,
        'o-color-3': #989898,
        'o-color-4': #FFFFFF,
        'o-color-5': #0B1612,
    ),
    (
        'o-color-1': #45859A,
        'o-color-2': #B57D4D,
        'o-color-3': #F5F5F5,
        'o-color-4': #FFFFFF,
        'o-color-5': #10273C,
    ),
    (
        'o-color-1': #0B3D5D,
        'o-color-2': #D9B30F,
        'o-color-3': #D6E6F1,
        'o-color-4': #FFFFFF,
        'o-color-5': #1E2632,
    ),
    (
        'o-color-1': #763240,
        'o-color-2': #C19F7F,
        'o-color-3': #FFFFFF,
        'o-color-4': #EAEAEA,
        'o-color-5': #2F2F2F,
    ),
    (
        'o-color-1': #EC576B,
        'o-color-2': #4DC5C1,
        'o-color-3': #E5E337,
        'o-color-4': #FFFFFF,
        'o-color-5': #000000,
    ),
    (
        'o-color-1': #b56355,
        'o-color-2': #6ba17a,
        'o-color-3': #ebe6ea,
        'o-color-4': #FFFFFF,
        'o-color-5': #343733,
    ),
    (
        'o-color-1': #01ACAB,
        'o-color-2': #FEDC3D,
        'o-color-3': #FAE8E0,
        'o-color-4': #FFFFFF,
        'o-color-5': #000000,
    ),
    (
        'o-color-1': #926190,
        'o-color-2': #F3E0CD,
        'o-color-3': #F9EFE9,
        'o-color-4': #FFFFFF,
        'o-color-5': #291528,
    ),
    (
        'o-color-1': #478FA2,
        'o-color-2': #CECECE,
        'o-color-3': #E8E9E9,
        'o-color-4': #FFFFFF,
        'o-color-5': #173F54,
    ),
    (
        'o-color-1': #3CC37C,
        'o-color-2': #E9C893,
        'o-color-3': #F5F5F5,
        'o-color-4': #FFFFFF,
        'o-color-5': #1F3A2A,
    ),
    (
        'o-color-1': #01524B,
        'o-color-2': #1993A3,
        'o-color-3': #A5A5B0,
        'o-color-4': #FFFFFF,
        'o-color-5': #011D1B,
    ),
    (
        'o-color-1': #464D77,
        'o-color-2': #36827f,
        'o-color-3': #f2f0ec,
        'o-color-4': #FFFFFF,
        'o-color-5': #22263c,
    ),
    (
        'o-color-1': #4717f6,
        'o-color-2': #A43ACB,
        'o-color-3': #EAEAEA,
        'o-color-4': #0F0A19,
        'o-color-5': #FFFFFF,
    ),
);

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-base-website-values-palette: (
    'logo-height': null, // Default to navbar height (see portal)
    'header-font-size': null, // Default to BS (normal font-size)
    'font-size-base': 1rem, // Need a set value as the value is used in bootstrap_overridden files
    'link-underline': 'hover', // 'never' / 'hover' / 'always'
    'font-number': 1,
    'headings-font-number': 1,
    'navbar-font-number': 1,
    'buttons-font-number': 1,
    'color-palettes-number': null, // Default to the individual variables for each color palette type
    'google-fonts': null,
    'btn-primary-outline': false,
    'btn-secondary-outline': false,
    'header-template': 'logo_menu',
    'footer-template': 'products_contacts_about_us',
);
$o-website-values-palettes: (
    (),
) !default;
$o-website-values-palette-number: 1 !default;

// By default, all user website values are null. Each null value is
// automatically replaced with corresponsing value of chosen values palette.
$o-user-website-values: () !default;

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

// Those are BS values, except BS hardcodes them inside the $hx-font-size
// variables directly and don't make them customizable.
$o-theme-h1-font-size-multiplier: 2.5 !default;
$o-theme-h2-font-size-multiplier: 2 !default;
$o-theme-h3-font-size-multiplier: 1.75 !default;
$o-theme-h4-font-size-multiplier: 1.5 !default;
$o-theme-h5-font-size-multiplier: 1.25 !default;
$o-theme-h6-font-size-multiplier: 1 !default;

$o-theme-fonts: (
    ('Roboto', sans-serif),
    ('Open Sans', sans-serif),
    ('Source Sans Pro', sans-serif),
    ('Raleway', sans-serif),
    ('Noto Serif', serif),
    ('Arvo', Times, serif),
) !default;
$o-theme-font-urls: (
    'Roboto:300,300i,400,400i,700,700i',
    'Open+Sans:300,300i,400,400i,700,700i',
    'Source+Sans+Pro:300,300i,400,400i,700,700i',
    'Raleway:300,300i,400,400i,700,700i',
    'Noto+Serif:300,300i,400,400i,700,700i',
    'Arvo:300,300i,400,400i,700,700i',
) !default;
$o-theme-font-names: (
    'Roboto',
    'Open Sans',
    'Source Sans Pro',
    'Raleway',
    'Noto Serif',
    'Arvo',
) !default;

// TODO improve this: we should not have multiple lists regarding fonts but
// instead a unique map: 'name' -> 'config', with config containing the font
// properties configuration + basic info (url, font-family).
$o-theme-font-configs: () !default;
