///
/// This file regroups main website UI layout rules (when the user is connected)
/// and the UI components rules.
///

.o_frontend_to_backend_nav {
    @include o-position-absolute(0, auto, auto, 0);
    position: fixed;
    z-index: $zindex-modal;
    display: flex;
    opacity: 0.8;

    &:hover {
        opacity: 1.0;
    }

    > * {
        position: relative;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-image: radial-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.15));
        }
    }
}
.o_frontend_to_backend_apps_btn {
    background-color: $o-brand-odoo;
    color: white;

    &:hover {
        color: white;
    }
}
.o_frontend_to_backend_edit_btn {
    background-color: $o-white;
    color: $o-brand-primary;
    padding-top: 1px;
    padding-left: 1px;
    border-right: 1px solid $o-brand-secondary;
    border-bottom: 1px solid $o-brand-secondary;

    &:hover {
        color: $o-brand-primary;
    }
}

// LAYOUTING
body {
    // Set frontend direction that will be flipped with
    // rtlcss for right-to-left text direction.
    direction: ltr;
}


@mixin o-w-close-icon($size:12px, $color:#000, $color-hover:#000, $thickness: 1px, $opacity: 0.7, $opacity-hover: 1) {
    color: transparent;
    position: relative;
    display: inline-block;
    opacity: $opacity;
    width: $size;
    height: $size;

    &:hover, &:focus {
        outline: none;
        opacity: $opacity-hover;

        &::after, &::before {
            background: $color-hover;
        }
    }

    &:after, &:before {
        content: '';
        margin-top: -1px;
        background: $color;
        @include size(100%, $thickness);
        @include o-position-absolute(50%, $left:0);
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

// MODALS
body .modal {
    &.o_technical_modal {
        @include o-w-preserve-base;
        @include o-w-preserve-dropdown-menus;
        @include o-w-preserve-headings;
        @include o-w-preserve-forms;
        @include o-w-preserve-links;
        @include o-w-preserve-btn;
        @include o-w-preserve-cards;
        @include o-w-preserve-modals;
        @include o-w-preserve-tabs;
    }

    // TOP MENU EDITOR
    .oe_menu_editor {
        ul {
            padding-left: 37px;
        }

        li {
            margin-top: -1px;

            .input-group-addon {
                border-radius: 0;
            }
        }
    }

    // SEO CONFIGURATION
    &.oe_seo_configuration {
        #language-box {
            padding-right: 25px;
            background-color: white;
        }
        .o_seo_og_image {
            .o_meta_img {
                position: relative;
                transition: border-color 200ms;
                display: inline-block;
                border: 2px solid gray('400');

                > img {
                    width: 70px;
                    height: 70px;
                    object-fit: cover;
                    cursor: pointer;
                }

                &:hover {
                    border-color: $o-brand-primary;
                }

                &.o_active_image {
                    border-color: $o-brand-primary;

                    &:before {
                        @include o-position-absolute($right: 0);
                        content: '';
                        border: 16px solid rgba($o-brand-primary, 0.8);
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }

                    &:after {
                        @include o-position-absolute(2px, 3px);
                        display: inline-block;
                        content: "\f00c";
                        font-family: FontAwesome;
                        color: white;
                        font-size: 12px;
                    }
                }
                .o-custom-label {
                    @include o-position-absolute($bottom: 0px);
                    background: rgba(gray('800'), 0.6);
                    font-size: 12px;
                }
            }
            .o_meta_img_upload {
                transition: 200ms;
                display: inline-block;
                padding: 23px 27px;
                border: 3px dashed lighten(gray('700'), 30%);
                vertical-align: top;
                cursor: pointer;
                color: lighten(gray('600'), 30%);

                &:hover {
                    border-color: $o-brand-primary;
                    color: $o-brand-primary;
                }
            }
            .o_meta_active_img {
                height: 240px;
                object-fit: cover;
            }
        }

        div.oe_seo_preview_g {
            list-style: none;
            font-family: arial, sans-serif;

            .r {
                cursor: pointer;
                color:#1a0dab;
                font-size: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-text-overflow: ellipsis;
                white-space: nowrap;
            }

            .s {
                font-size: 13px;
                line-height: 18px;
                color: #545454;
                .kv {
                    color: #006621;
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        td.o_seo_keyword_suggestion span.o_seo_suggestion.badge {
            cursor: pointer;
        }
    }
}

// LOGIN FORM
.oe_login_form, .oe_signup_form, .oe_reset_password_form {
    max-width: 300px;
    position: relative;
    margin: 50px auto;
}

// ACE EDITOR
.o_ace_view_editor {
    @include o-w-preserve-base;
    @include o-w-preserve-btn;
    @include o-w-preserve-forms;

    @include o-position-absolute($o-navbar-height, 0, 0);
    position: fixed;
    z-index: $zindex-modal;
}

// POPOVER NAVIGATION
.tour .popover-navigation {
    margin-left: 13px;
    margin-bottom: 8px;
}

// PUBLISH
.css_published {
    .btn-danger, .css_publish {
        display: none;
    }
}
.css_unpublished {
    .btn-success, .css_unpublish {
        display: none;
    }
}
[data-publish='off'] > *:not(.css_options) {
    opacity: 0.5;
}

// Do not show path behind the links in browser printing
@media print {
    a[href]:after {
        content: initial;
    }
}

// Pages Management
.o_page_management_info {
    .o_switch {
        padding-top: 9px;
    }
}
#list_website_pages {
    th {
        background-color: $o-brand-odoo;
        color: white;
    }
    td, th {
        padding: 0.45rem;
    }
    td {
        > a.fa {
            margin-left: 5px;
            color: $o-brand-odoo;
        }
        .text-muted {
            opacity: 0.5;
        }
    }
    .fa-check, .fa-eye-slash {
        color: $info;
    }
}

// Post Submit Links
.post_link:not(.o_post_link_js_loaded) {
    pointer-events: none;
}
