// ------------------------------------------------------------------
// Discuss
// ------------------------------------------------------------------

.o_action_manager {
    // bug with scrollable inside discuss mobile without this...
    min-height: 0;
}

.o-autogrow {
    flex: 1 1 auto;
}

.o_Discuss {
    min-height: 0;
}

.o_Discuss_chatWindowHeader {
    width: 100%;
    flex: 0 0 auto;
}
