// ------------------------------------------------------------------
// Drop Zone
// ------------------------------------------------------------------

.o_DropZone {
    @include o-position-absolute(0, 0, 0, 0);
    z-index: 1;
    transition: all .2s;
}

.o_DropZone_content {
    @include o-position-absolute(4%, 4%, 4%, 4%);
    border-width: 2px!important;
    transition: all .4s;
}

.o_DropZone_contentIcon {
    transition: margin .2s ease-in-out;
}

// ------------------------------------------------------------------
// Interactions
// ------------------------------------------------------------------

.o_DropZone {
    &:not(.o-dragging-inside) .o_DropZone_content {
        border: 2px dashed currentColor!important;
    }

    &.o-dragging-inside {
        background: rgba(#FFF, 0.9);
    }
}
