// ------------------------------------------------------------------
// Chat Window
// ------------------------------------------------------------------

.o_ChatWindow {
    @include o-position-absolute($bottom: 0);
    background-color: $o-mail-thread-window-bg;

    .o_ThreadView_messageList {
        font-size: $font-size-base;
    }

    &:not(.o-mobile) {
        width: 325px;
        height: 400px;

        &.o-folded {
            height: $o-mail-chat-window-header-height;
        }
    }

    &.o-focused, &:focus-within, &:hover {
        z-index: 1;
    }

    &:not(.o-mobile):not(.o-focused):not(:focus-within):not(:hover) {
        .o_ChatWindow_header {
            background-color: lighten(desaturate($o-brand-odoo, 8%), 4%);
        }
    }
}
