.o_kiosk-template {
    .header-section {
        .header-image {
            background-position: center;
            background-size: cover;
        }
    }

    .content-section {}

    .content-footer {
        &:empty {
            display: none;
        }
    }

    .o_footer_shadow {
        box-shadow: 0 -0.25rem 1rem rgba(0, 0, 0, 0.15);
    }
}
