@mixin social-media-style($class) {
    &, &:hover, &:focus {
        @at-root {
            #{&} {
                @extend #{$class};
            }
        }
    }
}

.s_social_media {
    > * {
        display: inline-block;
        vertical-align: middle;
    }
    .s_social_media_title {
        margin: 0 .4rem 0 0;
    }
    a {
        i.fa, span.fa {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        margin: .2rem;
    }
    &:not(.no_icon_color) {
        .s_social_media_facebook {
            @include social-media-style('.text-facebook');
        }
        .s_social_media_twitter {
            @include social-media-style('.text-twitter');
        }
        .s_social_media_linkedin {
            @include social-media-style('.text-linkedin');
        }
        .s_social_media_google {
            @include social-media-style('.text-google-plus');
        }
        .s_social_media_whatsapp {
            @include social-media-style('.text-whatsapp');
        }
        .s_social_media_pinterest {
            @include social-media-style('.text-pinterest');
        }
        .s_social_media_github {
            @include social-media-style('.text-github');
        }
        .s_social_media_instagram {
            @include social-media-style('.text-instagram');
        }
        .s_social_media_youtube {
            @include social-media-style('.text-youtube');
        }
        .s_social_media_tiktok {
            @include social-media-style('.text-tiktok');
        }
        .s_social_media_discord {
            @include social-media-style('.text-discord');
        }
    }
}
