
.s_social_media {
    > * {
        display: inline-block;
        vertical-align: middle;
    }
    .s_social_media_title {
        margin: 0 .4rem 0 0;
    }
    a {
        i.fa {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        margin: .2rem;
    }
    &:not(.no_icon_color) {
        .s_social_media_facebook {
            &, &:hover, &:focus {
                
            }
        }
        .s_social_media_twitter {
            &, &:hover, &:focus {
                
            }
        }
        .s_social_media_linkedin {
            &, &:hover, &:focus {
                
            }
        }
        .s_social_media_google {
            &, &:hover, &:focus {
                
            }
        }
        .s_social_media_whatsapp {
            &, &:hover, &:focus {
                
            }
        }
        .s_social_media_pinterest {
            &, &:hover, &:focus {
                
            }
        }
        .s_social_media_github {
            &, &:hover, &:focus {
                
            }
        }
        .s_social_media_instagram {
            &, &:hover, &:focus {
                
            }
        }
        .s_social_media_youtube {
            &, &:hover, &:focus {
                
            }
        }
    }
}
