body:not(.o_touch_device) .o_field_selection {
    &:not(:hover):not(:focus-within) {
        & select:not(:hover) {
            background-image: none;
        }
    }
}

body:not(.o_touch_device) .o_settings_container .o_field_selection {
    &:not(:hover):not(:focus-within) {
        & select:not(:hover) {
            background-image: $-down-arrow;
        }
    }
}
