// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_FollowButton {
    display: flex;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_FollowButton_follow {
    color: gray('600');
}

.o_FollowButton_unfollow {
    color: gray('600');
    min-width: 8rem;

    &.btn {
        padding-right: $grid-gutter-width*0.25;
        padding-left: $grid-gutter-width*0.25;
    }

    &.o-following {
        color: $green;
    }

    &.o-unfollow {
        color: $orange;
    }
}
