@mixin o-avatar-image-hover {
    cursor: context-menu;
    filter: sepia(1) hue-rotate(105deg) contrast(0.8)  brightness(.8); // Emulate Primary Color
}

.o_field_many2one_avatar_user,
.o_field_many2one_avatar.o_clickable_m2x_avatar {
    .o_m2o_avatar img:hover {
        @include o-avatar-image-hover;
    }
}

.o_field_many2many_avatar_user,
.o_field_many2manytags.avatar.o_clickable_m2x_avatar {
    img.o_m2m_avatar {
        &:hover {
            @include o-avatar-image-hover;
        }
    }
}
