// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ChatWindowManager {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 400px;
    max-height: 100%;
    z-index: 1;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

