// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_Composer {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    padding: 0;

    &.o_with_avatar {
        padding: 10px 3px;

        .o_Composer_core {
            margin-right: 10px;
            margin-left: 3px;
        }
    }
}

.o_Composer_attachmentList {
    flex: 1 1 auto;
}

.o_Composer_avatar {
    width: 36px;
    height: 36px;
}

.o_Composer_commands {
    display: flex;
    align-items: stretch;
    flex: 0 0 auto;
    margin-left: 1px;
    height: 39px; // match minimal-height of input
}

.o_Composer_core {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    flex-flow: column;
    min-width: 0;
}

.o_Composer_followers,
.o_Composer_suggestedPartners {
    flex: 0 0 100%;
    margin-bottom: $o-mail-chatter-gap*0.5;
}

.o_Composer_footer {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    margin-top: 10px;
}

.o_Composer_main {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
    width: 100%;
}

.o_Composer_sidebar {
    flex: 0 0 auto;
    margin-right: 3px;
    margin-left: 7px;
}

.o_Composer_textInput {
    flex: 1 1 auto;
    align-self: stretch;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_Composer {
    background-color: gray('200');
    border: 1px solid gray('300');

    &.o_with_avatar {
        border: 1px solid gray('300');

        .o_Composer_command:last-child {
            border-radius: 0 5px 5px 0;
        }

        .o_Composer_textInput > .note-editor {
            border-radius: 5px 0 0 5px;

            > .note-editing-area {
                border-radius: 5px 0 0 5px;
            }
        }
    }

    &:not(.o_with_avatar) {
        border-top: 1px solid gray('300');
    }
}

.o_Composer_command {

    &:focus {
        box-shadow: none;
        background-color: gray('200');
        border-color: gray('200');
    }

    &.o_open {
        background-color: gray('200');
        border-color: gray('200');
    }
}

.o_Composer_textInput {
    outline: none;
    border: none;
}
