// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_DiscussMobileMailboxSelection {
    display: flex;

    > button {
        flex: 1 1 0;
        z-index: 1;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_DiscussMobileMailboxSelection > button {
    box-shadow: 0 2px 4px gray('400');
}
