// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_autogrow {
    flex: 1 1 auto;
}

.o_Discuss {
    display: flex;
    height: 100%;
    min-height: 0;

    &.o_mobile {
        flex-flow: column;
        align-items: center;
    }
}

.o_Discuss_content {
    height: 100%;
    overflow: auto;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.o_Discuss_mobileMailboxSelection {
    width: 100%;
}

.o_Discuss_mobileNavbar {
    width: 100%;
}

.o_Discuss_sidebar {
    height: 100%;
    overflow: auto;
    padding-top: 10px;
    flex: 0 0 auto;
}

.o_Discuss_thread {
    flex: 1 1 auto;
}

.o_Discuss_threadPreviewList {
    width: 100%;
    flex: 1 1 auto;
}
// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------
