// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_Message {
    display: flex;
    flex: 0 0 auto;
    padding: 5px;
}

.o_Message_authorAvatar {
    width: 36px;
    height: 36px;
}

.o_Message_authorName {
    margin-right: 3px;
}

.o_Message_commandStar {
    font-size: 1.3rem;
}

.o_Message_commands {
    display: flex;
    align-items: center;
}

.o_Message_content {
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;

    > p:last-of-type {
        margin-bottom: 0;
    }
}

.o_Message_core {
    margin-right: 10px;
    overflow: auto;
}

.o_Message_footer {
    display: flex;
}

.o_Message_header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.o_Message_headerCommands {
    margin-left: 3px;
    margin-right: 3px;
}

.o_Message_headerDate {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 0.9rem;
}

.o_Message_sidebar {
    flex: 0 0 50px;
    max-width: 50px;
    display: flex;
    margin-right: 5px;
    font-size: x-small;
    justify-content: center;

    &.o_squashed {
        align-items: flex-start;
    }
}

.o_Message_sidebarItem {
    margin-left: 3px;
    margin-right: 3px;

    &.o_squashed {
        display: flex;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_Message {
    background-color: white;

    &:hover, &.o_toggled_click {

        .o_Message_command {
            opacity: 1;
        }

        .o_Message_commands {
            opacity: 1;
        }

        .o_Message_sidebarItem.o_squashed {
            opacity: 1;
        }
    }

    &.o_starred {

        .o_Message_commandStar {
            opacity: 1;
        }

        .o_Message_commands {
            opacity: 1;
        }
    }

    &.o_notification:not(.o_discussion) {
        background-color: gray('200');
        border-bottom: 1px solid gray('400');
    }

    &.o_comment {
        background-color: gray('200');
        border-bottom: 1px solid gray('400');
    }
}

.o_Message_authorName {
    font-weight: bold;
}

.o_Message_authorRedirect {
    cursor: pointer;
}

.o_Message_command {
    cursor: pointer;
    opacity: 0;

    &:not(:hover) {
        opacity: 0.6;
    }
}

.o_Message_commandStar {

    &:hover {
        filter: brightness(0.9);
    }

    &:not(.o_starred) {
        color: gray('500');
    }

    &.o_starred {
        color: gold;
    }
}

.o_Message_commands {
    opacity: 0;
}

.o_Message_content .o_mention {
    color: $o-brand-primary;
    cursor: pointer;

    &:hover {
        color: darken($o-brand-primary, 15%);
    }
}

.o_Message_date {
    color: gray('500');
}

.o_Message_sidebarItem.o_squashed {
    opacity: 0;
}
