// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_Thread {
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.o_Thread_composer {
    flex: 0 0 auto;
}

.o_Thread_loading {
    display: flex;
    align-self: center;
    flex: 1 1 auto;
    align-items: center;
}

.o_Thread_messageList {
    flex: 1 1 auto;
}

.o_Thread_noMessage {
    flex: 1 1 auto;
    height: 100%;
    align-self: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_Thread {
    background-color: gray('100');

}

.o_Thread_loadingIcon {
    margin-right: 3px;
}
