.o_control_panel {
    border-bottom: var(--ControlPanel-border-bottom, #{$o-control-panel-border-bottom});
    background-color: $o-control-panel-background-color;

    .o_control_panel_main {
        // FIXME: breadcrumb height + vertical padding
        min-height: calc(#{$h6-font-size * $line-height-base} + #{$h4-font-size * $line-height-base} + #{2 * map-get($spacers, 2)});
    }

    @include media-breakpoint-down(md) {
        &.o_mobile_sticky {
            @include o-position-sticky();
            z-index: 10;
        }

//         .o_cp_action_menus {
//             .o_dropdown_title {
//                 @include visually-hidden;
//             }

//             .o_dropdown_chevron, .o_dropdown_caret {
//                 display: none;
//             }
//         }

//         .o_cp_searchview {
//             min-height: 35px;

//             &.o_searchview_quick {
//                 display: flex;
//                 align-items: flex-start;
//                 width: 100%;

//                 > .o_searchview {
//                     display: flex;
//                     flex: 1 1 auto;
//                     align-items: center;
//                     border-bottom: 1px solid $o-brand-secondary;

//                     > .o_searchview_input_container {
//                         flex: 1 1 auto;
//                     }
//                     > .o_enable_searchview {
//                         margin: 0;
//                         padding-left: 0;
//                         &, &:hover {
//                             color: $gray-600;
//                         }
//                     }
//                 }
//             }
//         }

//         .o_cp_switch_buttons {
//             &.show > .dropdown-menu {
//                 display: inline-flex;
//                 min-width: 0px;
//             }
//         }
    }

//     .breadcrumb {
//         font-size: 18px;
//         min-width: 0;

//         > li {
//             @include o-text-overflow();
//         }

//         @include media-breakpoint-down(md) {
//             width: 100%;
//             overflow: hidden;
//             flex-wrap: nowrap;

//             > li {
//                 margin: 0;

//                 &:before {
//                     display: none;
//                 }

//                 &.o_back_button {
//                     flex-shrink: 0;
//                     &, & ~ li {
//                         margin: auto 0;
//                     }

//                     &:before {
//                         font-family: FontAwesome;
//                         content: "ï "; // fa-arrow-left
//                         display: inline-block;

//                         padding: 0; // override bootstrap
//                         color: inherit;
//                     }

//                     &.btn {
//                         padding: $o-cp-button-sm-no-border-padding;
//                     }

//                     > a {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
}

.o_x2m_control_panel {
    display: flex;
    flex-flow: row wrap;

    .o_cp_buttons {
        display: flex;
        margin-right: auto;
        margin-left: $o-kanban-record-margin;
    }
    .o_cp_pager {
        display: flex;
        margin-left: auto;
    }
}

@include media-breakpoint-down(md) {
    .o_rtl .o_control_panel .o_back_button:before {
        transform: rotate(180deg);
    }
}

@media print {
    .o_control_panel {
        display: none;
    }
}
