.o_kanban_view.o_event_kanban_view {

    .o_kanban_record {
        position: relative;
        padding: 0;
        display: flex;

        .o_kanban_record_title {
            font-size: 1.2em;
        }

        .o_event_left {
            text-align: center;
            flex: 1 1 25%;
            color: white;
            background-color: $o-brand-primary;
            padding: 8px;
            .o_day {
                font-size: 26px;
            }
        }

        .o_event_right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 8px;
            margin-left: 8px;
            width: 70%;

            .o_event_stat {
                display: flex;
                justify-content: space-between;
                padding: 0;
                text-align: left;
                height: 35px;
                width: 60%;
                div {
                    text-align: left;
                    display: inline-block;
                    margin-right: 10px;
                }
                button {
                    padding: 0;
                }
            }
        }

        .o_event_float_right {
            position: absolute;
            right: 8px;
            top: 40px;
        }

        .o_event_bottom_right {
            display: flex;
            width: 60px;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            right: 8px;
            bottom: 8px;
            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
            }
        }
    }
}
