// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_AttachmentViewer, .o_AttachmentViewer_main {
    z-index: -1;
}

.o_AttachmentViewer_Navigation {
    @include o-position-absolute(50%, 0, auto, 0);
    transform: translateY(-50%);
}

.o_AttachmentViewer_buttonNavigation {
    width: 3em;
    height: 3em;
}

.o_AttachmentViewer_header {
    height: $o-navbar-height;
}


.o_AttachmentViewer_main {
    @include o-position-absolute(0, 0, 0, 0);
    padding: $o-navbar-height 0;
}

.o_AttachmentViewer_name {
    min-width: 0;
}

.o_AttachmentViewer_toolbar {
    @include o-position-absolute($bottom: $o-navbar-height);
    transform: translateY(100%);
}

.o_AttachmentViewer_viewIframe {
    width: 90%;
}

.o_AttachmentViewer_zoomer {
    padding: $o-navbar-height 0;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_AttachmentViewer, .o_AttachmentViewer_view {
    outline: none;
}

// ------------------------------------------------------------------
// Animation
// ------------------------------------------------------------------

.o_AttachmentViewer_viewImage {
    transition: transform 0.3s ease;
}

