we3-editor iframe.o_fullscreen {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    min-height: 100% !important;
    z-index: 1001 !important;
    border: 0;
}

we3-editor iframe {
    margin: 0;
    padding: 0;
    border: 0;
}
