// V2

we3-editor {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    min-height: 200px;

    > textarea[name="codeview"] {
        flex: 1;
        border: 0;
        resize: none;
        background-color: black;
        color: white;
        font-family: "Lucida Console", Monaco, monospace;
    }

    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        background-color: white;
    }
}

we3-editable-container {
    position: relative;
    flex: 1 1 auto;
    min-height: 0;
}

we3-editable {
    position: relative;
    display: block;
    max-height: 100%;
    min-height: 170px;
    overflow: auto;
    outline: none;
}

// style for dropdown & buttons (in popover & toolbar)

we3-button, we3-toggler {
    cursor: pointer;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin: 0;
    line-height: 1.5;
    border-radius: 0.2rem;
    font-weight: 500;
    color: #666666;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #dee2e6;
    line-height: 1.5;
    user-select: none;

    &.active, &:active {
        color: #212529;
        background-color: #e6e5e5;
        border-color: #dfdfdf;
    }

    &.disabled {
        color: #aaaaaa;
        we3-button {
            color: #aaaaaa;
        }
    }
}

we3-button {
    white-space: nowrap;
}

we3-dropdown {
    position: relative;
    margin: 0 2px;

    > we3-toggler {
        position: relative;

        we3-placeholder we3-button {
            display: inline-block;
            margin: 0;
            padding: 0;
            border: 0;
            width: auto;
            background-color: transparent;
        }
    }
    > *:nth-child(2) {
        position: absolute;
        left: 0;
        box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
        padding: 4px;
    }
    > we3-vertical-items {
        display: block;

        > we3-button {
            width: 100%;
            display: block;
        }
    }
}

we3-tablist {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
    width: 100%;
    display: block;

    we3-button {
        margin-bottom: -1px;
        border-top-color: #fff;
        border-left-color: #fff;
        border-right-color: #fff;
        &:hover {
            border-color: #dee2e6;
        }
        &.active {
            border-color: #dee2e6;
            border-bottom-color: #fff;
            background-color: #fff;
        }
    }
}
we3-tabpanels {
    display: block;
    we3-tabpanel {
        display: none;
        &.active {
            display: block;
        }
    }
}

we3-modals {
    position: fixed;
    top: 0;
    left: 0;
    z-index: +1;

    we3-modal-backdrop, we3-modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    we3-modal {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    we3-modal-backdrop {
        opacity: 0.5;
        background: #000000;
        display: none;

        &.show {
            display: block;
        }
    }

    we3-modal-container {
        width: 80%;
        max-width: 980px;
        max-height: 80%;
        overflow: hidden;
        padding: 1.75rem 0;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
    }

    we3-header {
        background-color: #FFFFFF;
        display: flex;
        align-items: flex-start;
        padding: 1rem 1rem;
        justify-content: space-between;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
        we3-title {
            font-size: 1.3rem;
        }
        we3-modal-close {
            cursor: pointer;
        }
    }

    we3-body {
        background-color: #FFFFFF;
        display: block;
        padding: 1rem 1rem;
        overflow: auto;
    }

    we3-footer {
        background-color: #FFFFFF;
        display: flex;
        padding: 1rem 1rem;
        border-top: 1px solid #e9ecef;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;

        we3-button {
            margin-right: 5px;
        }
    }
}

// style for plugins

we3-popover {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border-radius: 0.2rem;
    padding: 2px;

    > * {
        white-space: nowrap;
    }
    we3-separator {
        clear: both;
        display: block;
        &::after {
            content: '';
            width: 100%;
        }
    }
}

we3-toolbar {
    flex: 0 0 auto;
    display: flex;
    z-index: 1;
    background-color: #fff;
    position: relative;
}

we3-popover, we3-toolbar {
    white-space: nowrap;
    user-select: none;

    we3-group {
        position: relative;
        display: flex;
        vertical-align: middle;
        margin: 0 2px 0 0;

        > we3-button {
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
        > a, > span {
            padding: 5px 8px;
        }
    }
    we3-button {
        flex: 1 1 auto;
    }
    we3-button:focus {
        outline: none;
    }
    > we3-button {
        margin: 0 2px;
    }
}

we3-toolbar we3-button[data-method="removeMedia"] {
    display: none;
}

///
/// Plugins Table, Color, Media, Upload...
///

we3-dropdown[data-plugin="TablePicker"] we3-tablepicker {
    display: block;
    min-width: 3em;
    min-height: 3em;
    padding: 0;
    margin: 0;
    .wysiwyg-dimension-picker {
        overflow: hidden;
    }
    we3-row {
        display: block;
        white-space: nowrap;
        we3-button {
            width: 1em;
            height: 1em;
            padding: 0;
            margin: 0;
            border: 1px solid #000;
            border-radius: 0;

            &:hover {
                background-color: #875A7B;
            }
        }
        we3-button.wysiwyg-tablepicker-highlighted {
            background-color: #875A7B;
        }
    }
}
we3-dropdown[data-plugin="ForeColor"],
we3-dropdown[data-plugin="BgColor"] {
    we3-items {
        display: block;
        padding: 4px 4px 10px 4px;
        we3-button {
            display: block;
            width: 100%;
            margin: 4px 0;
        }
        we3-palette we3-row{
            display: block;
            white-space: nowrap;
            we3-button {
                display: inline-block;
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                border: 1px solid #fff;
            }
        }
    }
    we3-placeholder we3-button {
        width: 20px;
        height: 2px;
        position: absolute;
        bottom: 1px;
        margin-left: -4px;
    }
}

we3-documents {
    display: flex;
    flex-wrap: wrap;

    we3-document {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%;
        padding: 3px;
        border: 1px dotted #eee;
        cursor: pointer;
        * {
            pointer-events: none;
        }

        img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            border: 1px solid #adb5bd;
        }

        &.we3-selected {
            border: 1px solid #7C7BAD;
            background: rbga(124, 123, 173, 0.2);
        }

    }
}

we3-group.we3-pictogram {
    we3-group[name="search"] {
        display: flex;
    }

    we3-document {
        font-size: 30px;
        flex: 0 0 5%;
        height: 40px;
    }
}

form.we3-upload {
    > we3-buttons {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        we3-group {
            display: flex;
            flex-wrap: nowrap;
        }
        we3-group[name="url"] {
            margin-left: 15px;
        }
        input {
            display: inline-block;
            width: 260px;
        }
    }

    we3-group[name="url"] we3-button * {
        display: none;
    }

    > we3-group {
        display: flex;
        flex-direction: column;
    }
}

form.we3-upload[data-plugin="UploadImage"] we3-group[name="url"] {
    we3-button[data-error] .we3-color-error {
        display: inline-block;
    }
    we3-button[data-url$=".gif"],
    we3-button[data-url$=".jpe"],
    we3-button[data-url$=".jpg"],
    we3-button[data-url$=".png"] {
        .we3-color-success {
            color: #FFFFFF !important;
            display: inline-block !important;
        }
    }
}

///
/// Colors
///

we3-button.we3-primary {
    background-color: #7C7BAD;
    border-color: #7C7BAD;
    color: #FFFFFF;
}
we3-button[disabled], we3-button[disabled]:hover {
    color: #AAAAAA;
}
.we3-color-success {
    color: #00A04A !important;
}
.we3-color-error {
    color: #DC6965 !important;
}
