.o_wevent_meeting_room_card {
    cursor: pointer;
    transition: 0.2s;
    filter: brightness(100%);
}

.o_wevent_meeting_room_card:hover {
    filter: brightness(90%);
}

.o_wevent_meeting_room_jitsi_modal .modal-dialog,
.o_wevent_create_meeting_room_modal .modal-dialog {
    max-width: 100vw;
    max-height: 100vh;
    width: 80%;
    margin: auto;
}

.o_wevent_create_meeting_room_modal .modal-dialog {
    top: 25%;
    max-width: 500px;
}

.o_wevent_meeting_room_jitsi_modal .modal-body {
    height: 70vh;
    overflow: hidden;
    margin: 0;
}

.o_wevent_jitsi_loading {
    top: 50%;
}

.o_wevent_meeting_room_corner_ribbon{
    width: 200px;
    background: #e43;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1;
    position: fixed;
    opacity: 0.7;
}
