.o_website_loading{
    position: fixed;
    left: auto;
    right: 0;
    bottom: 0;
    height: 100%;
    // backdrop doesn't work on firefox yet
    backdrop-filter: blur(8px);
    width: $o-we-sidebar-width;
    background-color: $o-we-sidebar-content-backdrop-bg;
    color: $o-we-fg-lighter;
    z-index: 10000;
}
// Duplicate code from web_editor/wysiwyg_snippets.scss
.editor_has_snippets {
    > .oe_overlay.ui-draggable {
        .o_handles {
            display: none;
        }
    }
}

