.o_website_loading{
    position: fixed;
    left: auto;
    right: 0;
    bottom: 0;
    height: 100%;
    width: $o-we-sidebar-width;
    background-color: $o-we-sidebar-content-backdrop-bg;
    color: $o-we-fg-lighter;
    z-index: 10000;
}
// Duplicate code from web_editor/wysiwyg_snippets.scss
.editor_has_snippets {
    overflow: hidden;
    > .oe_overlay.ui-draggable {
        .o_handles {
            display: none;
        }
    }
}
// SCSS ported over from website.ui.scss
.ui-autocomplete.o_website_ui_autocomplete {
    max-width: 400px;
    font-size: $o-we-sidebar-font-size;
    border: none;
    background-color: $o-we-sidebar-content-field-dropdown-bg;
    box-shadow: $o-we-sidebar-content-field-dropdown-shadow;
    > li {
        border-bottom: $o-we-sidebar-content-field-border-width solid lighten($o-we-sidebar-content-field-dropdown-border-color, 15%);
        border-radius: $o-we-sidebar-content-field-border-radius;
        background-color: $o-we-sidebar-content-field-clickable-bg;
        color: $o-we-sidebar-content-field-clickable-color;
        &.ui-menu-item {
            > div {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
                &.ui-state-active {
                    border: $o-we-sidebar-content-field-dropdown-border-width solid transparent;
                    background-color: $o-we-sidebar-content-field-dropdown-item-bg-hover;
                }
            }
        }
        &.ui-autocomplete-category {
            background-color: $o-we-bg-lighter;
        }
    }
}

