.o_website_hr_recruitment_jobs_list {
    #jobs_grid_left {
        ul.flex-column > li.nav-item > a {
            padding: .5rem 1rem;
            border-radius: 0.125rem;
        }
    }
    .card {
        padding: 15px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.17);

        &:hover {
            transition: box-shadow 0.3s cubic-bezier(0.55, 0, 0.1, 1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
        }
        .o_job_infos {
            .fa {
                color: map-get($theme-colors, 'primary');
                margin-right: 8px;
            }
        }
    }
    .o_recruitment_not_card {
        border-radius: 1.25rem;
        word-break: break-word;
        transition: .3s;

        &:hover {
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.05);
        }

    }

    .o_website_hr_recruitment_job_description {
        //The ellipsis may not be supported on all platforms, the text will just break for them
        max-height: 60px; //Limit to 3 lines
        line-height: 20px;
        -webkit-line-clamp: 3;
        -moz-line-clamp: 3;
        -ms-line-clamp: 3;
        line-clamp: 3;
        word-break: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        overflow: hidden;
    }
}

.o_jobs_topbar_filters {
    .dropdown-toggle {
        border: $border-width solid gray('400');
        @include o-bg-color(gray('white'), $with-extras: false);
        @include border-radius($dropdown-border-radius);
        @include hover-focus {
            border-color: theme-color('primary');
            color: theme-color('primary');
            text-decoration: none;
        }
        &:after {
            margin-left: 1.2em;
        }
        .fa {
            margin-right: .4em;
            color: theme-color('primary');
        }
    }
    .dropdown-menu {
        margin-top: $navbar-padding-y;
        min-width: 12rem;
    }
    .dropdown-item {
        &.active .badge { // Invert badge display when the item is active
            background-color: color-yiq(theme-color('primary'));
            color: theme-color('primary');
        }
    }
}

.o_hr_index_banner {
    background: linear-gradient(150deg, #875a7b 20%, #62495b 80%) !important;
}

.s_image_gallery {
    img {
        transition: .5s;
        &:hover {
            transform: scale(1.01, 1.01);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) !important;

        }
    }
}
