.o_snailmail_wizard {
    $o-snailmail-padding-large: $grid-gutter-width*0.5;
    $o-snailmail-padding-medium: $o-snailmail-padding-large*0.5;

    .o_snailmail_option_header {
        // background: yellow;
        padding-bottom: $o-snailmail-padding-medium;
        border-bottom: 1px solid $gray-lighter-darker;

        &:not(:first-child) {
            padding-top: $o-snailmail-padding-large;
        }
    }
    .o_snailmail_option_content {
        // background-color: green;
        box-shadow: inset 0 10px 10px $gray-lighter-dark;

        &:not(:last-child) {
            padding-bottom: $o-snailmail-padding-large;
        }
    }

}