// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_Activity_detailsUserAvatar {
    margin-inline-end: map-get($spacers, 1);
    object-fit: cover;
    height: 1.4em;
    width: 1.4em;
}

.o_Activity_dueDateText, .o_Activity_summary {
    margin-inline-end: map-get($spacers, 2);
}

.o_Activity_iconContainer {
    @include o-position-absolute(0,0);
    border-width: 3px;
    transform: translate(35%, 30%) scale(0.76);

    i.fa {
        transform: scale(1.3);
    }
}

.o_Activity_note > :last-child() {
    margin-bottom: map-get($spacers, 2);
}

.o_Activity_user {
    height: 36px;
    width: 36px;
}

.o_Activity_detailsCreatorAvatar {
    margin-inline-start: map-get($spacers, 2);
}

// From python template
.o_mail_note_title {
    margin-top: map-get($spacers, 2);
}

.o_mail_note_title + div p {
    margin-bottom: 0;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_Activity_iconContainer {
    border-color: white;
    border-style: solid;
}
