.o-debug-manager {
	color: white;
	border-bottom: 1px solid @odoo-main-text-color;

	.o-debug-title {
		padding-top: 3px;
		font-size: 18px;
	}

	.btn-default {
		border-radius: 0px;
        border-style: none;
	}

	.o-debug-dropdowns {
		padding-top: 3px;
		margin-left: 16px;
	}

	.o-debug-leave {
		background-color: inherit;
	}
}
