
.o-form-view {

    .oe_form_sheetbg, .oe_chatter {
        min-width: 650px;
        max-width: 860px;
        background-color: white;
        .center-block();
    }

    header {
        background-color: @odoo-main-text-color;
        width: 100%;

    }

    header > * {
        display: inline-block;
    }
}