.oe_graph {
    height: 100%;
    background-color: @odoo-view-background-color;

    &> div {  // FIXME: useless div
        height: 100%;
    }
}

// ------------------------------------------------------------------
// Control panel buttons
// ------------------------------------------------------------------
.o_graph_measures_list {
    .o-selected-li;
}