
.stage_container {
	background-color: @table-bg-accent;
	border-left: thin solid #D6D6D6;
	.cloumn_container {
		background: url(/web/static/src/img/4_record_stage.png) no-repeat;
	    background-position-y: 30px;
	    min-height: 300px;
	    .fa-plus {
	    	color: darkgrey;
	    }
	}
	.foot_note {
		text-align: center;
	}
}
.modal-body.stage_help_modal {
	padding: 0px 0px;
}
.stage_navigation {
	padding: 0px 0px;
	.nav-stacked {
		li {
			margin-top: 0px;
			padding: 5px 0px;
		}
		.example_title {
			font-size: 16px;
			padding: 16px 0px;
			text-align: center;
		}
	}
	li.active {
		border-left: 3px solid #00B8A0;
	}
	li {
		border-bottom: thin solid #D6D6D6;
	}
}

.o_kanban_no_records {
    background: url(/web/static/src/img/record_3_ghost.png) no-repeat;
    background-position-y: 52px;
}
.o_kanban_no_records.o_column_folded {
    background: none;
}

.o_column_quick_create {
	.o_kanban_quick_create {
	    background: url(/web/static/src/img/record_3_ghost.png) no-repeat;
	    background-position-y: 52px;
	}
}