.o-modal-guided-help {
    padding: 0px;
    background: @odoo-color-silver;
    .o-guided-help-wrapper {
        .o-flex-display();

        // Kanban guided help side nav
        .o-guided-help-nav {
            .o-flex(1, 1, 20%);
            padding-left: 0px;
            border-right: 1px solid @gray-lighter-dark;
            background: #FFF;
            ul li {
                margin: 0px;
                border-bottom: 1px solid @gray-lighter-dark;
                a {
                    padding: 12px 0px 12px 15px;
                    border-left: 3px solid transparent;
                    color: inherit;
                }
                &.active {
                    margin-right: -1px;
                    a {
                        color: @headings-color;
                        font-weight: bold;
                        border-left-color: @odoo-brand-optional;
                    }
                }

            }
        }

        // Kanban guided help body
        .o-guided-help-body {
            .o-flex(1, 1, 80%);
            .o-guided-help-kanban {
                overflow-x: auto;
                white-space: nowrap;
                position: relative;
                min-height: 300px;
                .o-guided-help-col {
                    margin:10px;
                    display: inline-block;
                    width: 20%;
                    vertical-align: top;
                    .o-guided-help-record {
                        border: thin solid @gray-lighter-dark;
                        min-height: 50px;
                        background: #FFF;
                        padding: 5px;
                        margin-top: -1px;
                        .o-guided-help-title {
                            background: @gray-lighter-dark;
                            height: 12px;
                        }
                        .o-guided-help-tag {
                            margin-top: 10px;
                            height: 12px;
                            display: inline-block;
                            width: 15px;
                            background: @gray-lighter-dark;
                        }
                    }
                }
            }
        }
    }
}

div:not(.o_column_folded) > .record_blank {
	background: #f0f0f0;
	width: 225px;
	height: 75px;
	margin: 10px 0px;
}
