// ------------------------------------------------------------------
// Bootstrap's variables
// ------------------------------------------------------------------
@border-radius-base: 0;
@navbar-inverse-bg: #454343;
@navbar-inverse-link-color: #fff;
@navbar-inverse-link-hover-bg: #222;
@nav-link-padding: 2px 12px;
@component-active-bg: #7c7bad;
@brand-primary: #7c7bad;

/* Override Bootstrap's behavior: we don't want aligned nested navs. */
.nav {
    .nav {
        padding-left: 6px;
    }
}

// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------
.o-secondary-menu {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.o-control-panel {
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

// ------------------------------------------------------------------
// Menus
// ------------------------------------------------------------------
.oe_application_menu_placeholder, #menu_more_container,
    .oe_user_menu_placeholder, .oe_systray, .oe_secondary_menu {
    display: none;  // Needed by the webclient
}

.oe_logo {
    img {
        .center-block;
        width: 100%;
    }

    .oe_logo_edit {
        display: none;
        position: absolute;
        top: 10px;
        right: 0;
        left: 0;
        color: @navbar-inverse-link-color;
        background: @navbar-inverse-bg;
        text-align: center;
    }

    &:hover .oe_logo_edit {
        display: block;
    }

    .oe_logo_edit_admin:hover {
        // Note: class created by the webclient
        .center-block;
    }
}

.oe_secondary_menu {
    >span {
        color: @component-active-bg;
        font-weight: bold;
        padding: 0px 6px;
    }

    .oe_menu_toggler:after {
        .o-caret-down;
        margin-left: 5px;
    }

    .oe_menu_opened:after {
        .o-caret-up;
        margin-left: 5px;
    }
}

// ------------------------------------------------------------------
// Widgets
// ------------------------------------------------------------------
.oe_user_menu_placeholder {
    .oe_topbar_avatar {
        max-height: 18px;
        width: 18px;
    }
}
