// ------------------------------------------------------------------
// Base layout
// ------------------------------------------------------------------
@navbar-height: 33px;

html {
    height: 100%;

    body {
        height: 100%;

        .o-web-client {
            height: 100%;
            padding-top: @navbar-height;
            @media (max-width: @grid-float-breakpoint) {
                height: auto;
            }

            .o-web-client-row {
                height: 100%;
                @media (max-width: @grid-float-breakpoint) {
                    height: auto;
                }

                .o-secondary-menu {
                    height: 100%;
                    overflow: auto;
                }

                .o-action-manager {
                    height: 100%;
                    .o-flex-display();
                    .o-flex-direction(column);
                    @media (max-width: @grid-float-breakpoint) {
                        height: auto;
                        display: block;
                    }

                    .o-control-panel {
                        .o-flex(0, 0, auto);
                    }

                    .o-view-manager {
                        .o-flex(1, 1, auto);
                        overflow: auto;
                    }
                }
            }
        }
    }
}


// ------------------------------------------------------------------
// Sidebar
// ------------------------------------------------------------------
// Patch the base layout in mobile mode to handle sidebar
// Note: largely inspired of http://getbootstrap.com/examples/offcanvas/
html {
    body {
        overflow-x: auto;
        @media (max-width: @grid-float-breakpoint) {
            overflow-x: hidden;  // hide horizontal scrollbar
        }

        .o-web-client-row {
            position: static;
            @media (max-width: @grid-float-breakpoint) {
                position: relative;  // the main row becomes relative
                left: 0;
                .transition(all .5s ease-out);
            }

            .o-secondary-menu {
                position: relative;
                @media (max-width: @grid-float-breakpoint) {
                    position: absolute;
                    left: -50%;
                    top: 0;
                    width: 50%;
                }
            }
        }

        .o-web-client-row.js_o-secondary-menu-shown {
            @media (max-width: @grid-float-breakpoint) {
                left: 50%;
            }
        }
    }
}


// ------------------------------------------------------------------
// Cross-browser compatibility fixes
// ------------------------------------------------------------------
// As Internet Explorer 8 and 9 do not handle flexbox, we chose to drop the .o-action-manager
// logic with the inner scrollbar and leave all the page scrollbale (still with a fixed navbar).
.ie9 {
    .o-web-client-row {
        height: auto !important;
    }

    .o-secondary-menu {
        height: auto !important;
    }
}
