// ------------------------------------------------------------------
// Odoo
// ------------------------------------------------------------------
@odoo-brand-primary: #a24689;
@odoo-brand-secondary: #8f8f8f;
@odoo-brand-optional: #21b799;

@odoo-main-text-color: #666666;
@odoo-main-color-muted: #a8a8a8;


// ------------------------------------------------------------------
// Bootstrap's variables
// ------------------------------------------------------------------
@badge-active-bg: @component-active-bg;
@badge-active-color: black;
@badge-bg: none;
@badge-color: @gray-light;
@border-radius-base: 0;
@brand-primary: @odoo-brand-primary;
@breadcrumb-bg: white;
@component-active-bg: @gray-lighter;
@component-active-color: @odoo-brand-optional;
@nav-link-padding: 5px 20px 5px 20px;
@navbar-inverse-bg: @odoo-brand-primary;
@navbar-inverse-link-color: white;
@navbar-inverse-link-hover-bg: darken(@odoo-brand-primary, 10%);
@text-color: @odoo-main-text-color;


// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------
.o-primary-menu, .o-secondary-menu {
    background-color: white;
    border-right: 1px solid @gray-lighter;
    border-bottom: 1px solid @gray-lighter;
    .transition(left 0.15s);  // Slide animation
}

.o-secondary-menu {
    box-shadow: 0px 8px 8px @odoo-main-text-color;
}


.o-menu-slide {
    display: block;  // We use a `.navbar-toggle` for the menu toggler, keep it always visible. Hack.
    float: left;
}

.o-web-client.overlay:after {
    background-color: @gray;
    opacity: 0.6;
    .transition(background-color 0.15s ease);
}

.o-control-panel {
    background-color: white;
    box-shadow: 8px 0px 8px @odoo-main-text-color;
}

.o-web-client {
    background-color: @odoo-main-color-muted;
}

// ------------------------------------------------------------------
// Menus
// ------------------------------------------------------------------
.navbar {
    .o-menu-brand {
        padding-left: 8px;
    }
    box-shadow: 8px 0px 8px @odoo-main-text-color;
}

// Needed by the webclient
.oe_systray, .oe_secondary_menu, .oe_user_menu_placeholder {
    display: none;
}

.o-primary-menu, .o-secondary-menu {
    .oe_logo {
        img {
            .center-block;
            width: @o-menu-width - 50px;
        }

        .oe_logo_edit {
            display: none;
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            color: @navbar-inverse-link-color;
            background: @navbar-inverse-bg;
            text-align: center;
        }

        &:hover .oe_logo_edit {
            display: block;
        }

        .oe_logo_edit_admin:hover {
            .center-block;  // Note: class created by the webclient
        }
    }

    .oe_user_menu_placeholder {
        padding: 15px;

        .oe_topbar_avatar {
            width: 35%;
        }
    }

    // Button only visible in mobile mode allowing to switch between primary and secondary menu
    .oe_applications_link {
        color: @component-active-bg;
        font-weight: bold;
        margin-bottom: 5px;
    }

    // Override Bootstrap's behavior: we don't want aligned nested navs.
    .nav {.nav {padding-left: 6px;}}

    li a {
        color: @gray;
        font-weight: bold;
    }

    .oe_secondary_menu {
        > span {
            color: @gray-light;
            padding: 5px 10px 5px 10px;
            cursor: default;
        }

        // Default bootstrap's margins for hr are derived from font-size-base & line-height-base.
        // Override them here without touching these values.
        hr {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        li a {
            padding: 5px 10px 5px 25px;
        }

        .oe_menu_toggler:after {
            .o-caret-down;
            margin-left: 5px;
        }

        .oe_menu_opened:after {
            .o-caret-up;
            margin-left: 5px;
        }
    }
}
