// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_FollowerListMenuView_buttonFollowers:focus {
    background-color: $gray-200;
}

.o_FollowerListMenuView_dropdown {
    /**
     * Note: Min() refers to CSS min() and not SCSS min().
     *
     * To by-pass SCSS min() shadowing CSS min(), we rely on SCSS being case-sensitive while CSS isn't.
     */
    max-width: Min(400px, 95vw);
}

.o_FollowerView_avatar {
    width: $o-mail-partner-avatar-size;
    height: $o-mail-partner-avatar-size;
}

.o_FollowerView_details {
    min-width: 0;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_FollowerView_button:hover {
    background: $gray-400;
    color: $black;
}

.o_FollowerView_details:hover {
    background: $gray-400;
    color: $black;
}
