.o_newsletter_modal {

    .modal-header {
        padding: 0;
        border: none;
    }
    .modal-title {
        display: none;
    }
    .close {
        @include o-position-absolute(0, 0);
        font-size: $font-size-sm;
        width: 2 * $font-size-sm;
        height: 2 * $font-size-sm;
        padding: 0;
        margin: (-$font-size-sm) (-$font-size-sm) 0 0;
        opacity: 1;
        background-color: $white;
        z-index: 1;
        border-radius: $font-size-sm;
        box-shadow: $box-shadow-sm;
    }


    &.modal:not(.d-none) {
        display: block !important;
    }

    .o_newsletter_popup {

        &.s_newsletter_center {
            .s_newsletter_full {
                @include o-position-absolute(0, 0, 0, 0);
                &.modal-dialog {
                    max-width: 100%;
                    padding: 0 !important;
                    margin: 0 !important;

                    .modal-content {
                        height: 100%;
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }

        &.s_newsletter_fixed {
            &.s_newsletter_fixed_top {
                .s_newsletter_content {
                    top: $o-navbar-height;
                }
            }
            &:not(.s_newsletter_fixed_top) {
                .s_popup_content {
                    bottom: 0;
                }
            }
            .s_newsletter_content {
                z-index: 1;
                position: fixed;
                right: 20px;
            }
            .modal-sm .s_newsletter_content {
                width: $modal-sm;
            }
            .modal-md .s_newsletter_content {
                width: $o-modal-md;
            }
            .modal-lg .s_newsletter_content {
                width: $o-modal-lg;
            }
            .modal-xl .s_newsletter_content {
                width: $modal-xl;
            }
            .s_newsletter_full .s_newsletter_content {
                right: 0;
                left: 0;
            }
        }
    }
}
