.o_newsletter_popup {
    .modal-content{
        height: 70%;
        position: absolute;
    }
    .modal-header {
        padding: 0;
        border: none;
    }
    .modal-title {
        display: none;
    }
    .close {
        z-index: $zindex-modal;
        @include o-position-absolute(0, 0);
        width: $font-size-lg * 2;
        height: $font-size-lg * 2;
        line-height: $font-size-lg * 2;
        margin: 0;
        padding: 0;
        @include o-bg-color(color-yiq(o-color('primary')), o-color('primary'), $with-extras: false);
        box-shadow: $box-shadow-sm;
        opacity: 1;
    }

}
.s_newsletter_popup_top,
.s_newsletter_popup_bottom {
    .modal-dialog {
        margin-right: 0;
    }
}
.s_newsletter_popup_top .modal-dialog {
    align-items: flex-start;
}
.s_newsletter_popup_bottom .modal-dialog {
    align-items: flex-end;
}
