// --------------------------------------------------------------------------
// Composer Suggestion List
// --------------------------------------------------------------------------

.o_ComposerSuggestionList.o-lowPosition {
    // Match textarea size compensating its borders
    bottom: 0;
    width: calc(100% + (#{$dropdown-border-width} * 2));
    margin-left: $dropdown-border-width * -1;
}

.o_ComposerSuggestionList_list {
    // prevent from overflowing chat window, must be smaller than its height
    // minus the max height taken by composer and attachment list
    max-height: 150px;
}
