.o_hr_holidays_hierarchy {
    overflow-x: auto;

    .o_hr_holidays_plan_level_container {
        .o-kanban-button-new {
            margin-left: 107px;
            margin-top: 24px;
        }

        .o_kanban_renderer {
            --Kanban-gap: 0;
            --KanbanRecord-padding-v: 0;
        }

        .o_kanban_renderer.o_kanban_ungrouped .o_kanban_record {
            flex: 0 0 100%;

            // Whole record
            .o_hr_holidays_body {

                // Actual kanban card
                .o_hr_holidays_card {
                    position: relative;
                    margin-left: 22px;

                    .o_hr_holidays_card_inner {
                        @include media-breakpoint-down(md) {
                            grid-template-columns: repeat(2, 1fr);
                            gap: map-get($spacers, 2);
                        }
                    }

                    // Circle
                    &:after {
                        content: '';
                        @include o-position-absolute($top: $font-size-base * .5, $left: -28px);
                        width: .5rem;
                        height: .5rem;
                        border-radius: $border-radius-pill;
                        background: $o-gray-400;
                        outline: 8px solid $o-view-background-color;
                    }
                    // Timeline Border
                    &:before {
                        content: '';
                        @include o-position-absolute($left:-((map-get($spacers, 5) * .5) + ($border-width * .5)));
                        height: 100%;
                        border-left: $border-width solid $border-color;
                    }
                }
            }
        }
    }
}
.o_radio_item .o_form_label {
    font-weight: normal;
}
