// ------------------------------------------------------------------
// Chat Window Header
// ------------------------------------------------------------------

.o_ChatWindowHeader {
    height: $o-mail-chat-window-header-height;
    background-color: $o-brand-odoo;

    &.o-mobile {
        height: $o-mail-chat-window-header-height-mobile;
    }
}

.o_ChatWindowHeader_command {
    @include o-hover-text-color(rgba($white, .8), $white);

    &:hover {
        background-color: $dropdown-link-hover-bg;
    }
}
