// ------------------------------------------------------------------
// Discuss Sidebar
// ------------------------------------------------------------------

.o_DiscussSidebar {
    width: $o-mail-chat-sidebar-width;

    @include media-breakpoint-up(xl) {
        width: $o-mail-chat-sidebar-width + 50px;
    }
}

.o_DiscussSidebar_groupHeaderItemAdd, .o_DiscussSidebar_groupTitle.o-clickable {
    cursor: pointer;

    &:not(:hover) {
        @extend .text-500;
        background: none;
    }
}
