.o_control_panel {
  border-bottom: 1px solid gray;
  padding: 16px;
  background-color: $o-control-panel-background-color;

  > div {
    display: flex;
    min-height: 30px;
    margin: 5px 0px;
  }

  @include media-breakpoint-up(md) {
    .o_cp_top_left,
    .o_cp_top_right,
    .o_cp_bottom_left,
    .o_cp_bottom_right {
      width: 50%;
    }
  }

  .breadcrumb {
    font-size: 18px;

    > li {
      @include o-text-overflow($max-width: 90%);
    }
  }

  .o_cp_top_right {
    min-height: $o-cp-breadcrumb-height;
  }

  .o_cp_bottom_left {
    display: flex;
    justify-content: space-between;

    > .o_cp_action_menus {
      padding-right: 10px;

      .o_dropdown {
        display: inline-block;
      }
      .o_hidden_input_file {
        position: relative;
        input.o_input_file {
          position: absolute;
          top: 1px;
          opacity: 0;
          width: 100%;
          height: 26px;
        }
        .o_form_binary_form span {
          padding: 3px 25px;
          color: $o-brand-primary;
        }
        .o_form_binary_form:hover {
          background-color: $table-hover-bg;
        }
      }
      .o_sidebar_delete_attachment {
        padding: 0px;
        position: absolute;
        top: 5px;
        right: 10px;
      }
      .o_dropdown_toggler_btn {
        margin-right: 15px;
      }
    }
  }

  .o_cp_bottom_right {
    display: flex;

    > .o_cp_pager {
      margin: auto 0 auto auto;
      padding-left: 5px;
      text-align: center;
      user-select: none;

      .o_pager {
        display: flex;
        align-items: center;

        .o_pager_counter {
          margin-right: 5px;
          min-width: $o-statbutton-height;
        }
      }
    }

    > .o_cp_switch_buttons > .btn:first-child {
      margin-left: $o-horizontal-padding;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }
  }
}

.o_x2m_control_panel {
  display: flex;
  flex-flow: row wrap;

  .o_cp_buttons {
    display: flex;
    margin-right: auto;
    > div {
      margin-top: 5px;
    }
    .o-kanban-button-new {
      margin-left: $o-kanban-record-margin;
    }
  }
  .o_cp_pager {
    display: flex;
    margin-left: auto;
  }
}

.o_pager_value {
  display: inline-block;
}

span.o_pager_value {
  border-bottom: 1px solid transparent;
}

input.o_pager_value {
  text-align: right;
  width: 60px;
  &:focus {
    outline: none;
  }
}

@media print {
  .o_control_panel {
    display: none;
  }
}

.o_dropdown_toggler {
  position: relative;
}

.o_dropdown_menu {
  > .dropdown-divider:first-child {
    display: none;
  }

  min-width: 150px;
  max-height: calc(100vh - 140px); // FIXME
  overflow: auto;

  .o_menu_item {
    position: relative;

    > .dropdown-item {
      color: $o-main-text-color;

      &:hover {
        color: darken($o-main-text-color, 10%);
      }
    }
  }

  position: absolute;
  max-height: 90vh; // the dropdown should not overstep the viewport
  overflow: auto;
  margin: 0;
  padding: 0.5rem 0;
  box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);
  color: #4c4c4c;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 3px;

  > li {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.25rem 1.6rem;
    clear: both;
    font-weight: 400;
    color: #4c4c4c;
    text-align: inherit;
    white-space: nowrap;
    line-height: 1.6rem;
  }
}

.dropdown-item {
  position: relative;
  color: $o-main-text-color;

  &:hover {
    color: darken($o-main-text-color, 10%);
  }

  &.selected {
    // TODO why not using standard BS4 "active" class ?
    color: darken($o-main-text-color, 10%);
    font-weight: bold;

    &:before {
      font-family: FontAwesome;
      position: absolute;
      left: 4px;
      content: "\f00c";
    }
  }
  .o_trash_button {
    padding-left: 8px;
    @include o-position-absolute($right: $dropdown-item-padding-x * 0.5);
  }
}
