// = Main Navbar Variables
// ============================================================================
$o-navbar-height-xs: 46px !default;
$o-navbar-height-lg: 40px !default;
$o-navbar-height-xl: $o-navbar-height-lg !default;
$o-navbar-height: $o-navbar-height-lg !default;

$o-navbar-font-size: $o-font-size-base !default
$o-navbar-font-size-xl: $o-navbar-font-size !default

$o-navbar-background: $o-brand-odoo !default;

$o-navbar-border-bottom: 1px solid darken($o-brand-odoo, 10%) !default;

$o-navbar-entry-padding-h: .63em !default;
$o-navbar-entry-color: rgba($o-white, .9) !default;
$o-navbar-entry-color--hover: $o-white !default;
$o-navbar-entry-font-size: 1em !default;
$o-navbar-entry-bg--hover: rgba($o-black, .08) !default;

$o-navbar-brand-font-size: 1.2em !default;

$o-navbar-badge-size: 11px !default;
$o-navbar-badge-padding: 4px !default;
$o-navbar-badge-bg: $o-success !default;
$o-navbar-badge-color: inherit !default;
$o-navbar-badge-text-shadow: 1px 1px 0 rgba($o-black, .3) !default;

// = % PseudoClasses
//
// Regroup and expose rules shared across components
// --------------------------------------------------------------------------
%-main-navbar-entry-base {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: var(--o-navbar-height, #{$o-navbar-height});
    user-select: none;
    background: transparent;
    font-size: $o-navbar-entry-font-size;

    @include o-hover-text-color($o-navbar-entry-color, $o-navbar-entry-color--hover);
}

%-main-navbar-entry-spacing {
    padding: 0;
    padding-left: var(--NavBar-entry-padding-left, #{$o-navbar-entry-padding-h});
    padding-right: var(--NavBar-entry-padding-right, #{$o-navbar-entry-padding-h});
    line-height: var(--o-navbar-height);
}

%-main-navbar-entry-bg-hover {
    &:hover {
        background-color: $o-navbar-entry-bg--hover;
    }
}

%-main-navbar-entry-active {
    &, &:hover, &:focus {
        background: $o-navbar-entry-bg--hover;
        color: $o-navbar-entry-color;
    }
}
