.o_website_loader_container {
    $-accent-color: #BB86FC; // dark mode primary color
    --website-loader-color: #{$white};

    pointer-events: all;
    z-index: $zindex-modal - 1;
    background-color: $o-we-bg-lighter;
    color: var(--website-loader-color);

    .o_website_loader {
        width: 400px;
        height: 220px;
        background-image: url('/website/static/src/img/theme_loader.gif');
    }

    .o_website_loader_tip {
        color: var(--website-loader-color);

        @include media-breakpoint-down(md) {
            width: 50% !important;
        }

        .o_tour_pointer {
            --TourPointer__height: 1em;
            --TourPointer__width: 1em;
            --TourPointer__color: #{$-accent-color};
            --TourPointer__color-accent: #{lighten($-accent-color, 7%)};
        }
    }

    .o_website_loader_text_highlight {
        color: $-accent-color;
    }

    .o_website_loader_progress {
        width: 15rem;
    }
}
