.editor_enable .s_website_form[data-vcss="001"] {
    // Hidden field is only partially hidden in editor
    .o_website_form_field_hidden {
        display: block;
        opacity: 0.5;
    }
    // Select inputs do not trigger the default browser behavior
    // Since we use a custom editable element
    .s_website_form_field select {
        pointer-events: none;
    }
}

.s_website_form[data-vcss="001"] {
    // Radio buttons and checkboxes flex layout
    .o_website_form_flex {
        display: flex;
        flex-wrap: wrap;

        &.o_website_form_flex_fw > .o_website_form_flex_item {
            flex-basis: 100%;
        }
        &:not(.o_website_form_flex_fw) > .o_website_form_flex_item {
            // col-lg-4
            flex-basis: 33%;

            // col-md-6
            @include media-breakpoint-down(md) {
                flex-basis: 50%;
            }

            // col-12
            @include media-breakpoint-down(sm) {
                flex-basis: 100%;
            }
        }
    }

    .o_website_form_field_hidden {
        display: none;
    }

    span.o_website_form_mark {
        font-size: 12px;
        font-weight: 400;
    }

    // Display the editable select as a single big field
    #editable_select.form-control {
        height: auto;
    }

    // The snippet editor uses padding and not margin.
    // This will include bootstrap margin in the dragable y axes
    .o_form_rows > .form-group {
        margin-bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
