.o_gstr_main {
    background-color: white;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    .o_section {
        // border: 1px solid grey;
        margin: 4px;
        padding-bottom: 20px;
    }
    .o_section_hr {
        height: 1px;
        background-color: $o-enterprise-primary-color;
    }
    .section_table {
        .o_cell_data[level="1"] {
            padding-left: 2.5rem;
        }
    }
}