@mixin o-iframe-position($height) {
    $width: $height * (9 / 16);
    height: $height;
    width: $width;
    left: calc(50% - #{$width} / 2);
    top: calc(50% - #{$height} / 2);
}

.o_website_preview {
    position: relative;
    height: 100%;
    transition: margin-right ease 400ms;

    &.editor_enable.editor_has_snippets {
        margin-right: $o-we-sidebar-width !important;
    }

    .o_iframe_container {
        position: relative;
        height: 100%;
        width: 100%;

        iframe {
            position: absolute;
            border: none;
            width: 100%;
            height: 100%;
        }

        &.o_is_mobile {
            @include media-breakpoint-up(md) {
                @include o-iframe-position(720px);

                @media(max-height: calc(720px + #{$o-navbar-height})) {
                    @include o-iframe-position(520px);
                }

                iframe {
                    border-radius: 25px;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

.o_website_fullscreen {
    .o_website_preview.editor_enable.editor_has_snippets {
        margin-right: 0 !important;
    }
}
