.analytic_o2m {

    .analytic_o2m_editor_popup {
        width: 260px;

        .o_analytic_account_name {
            width: 180px !important;
            max-width: 180px !important;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .o_analytic_percentage {
            width: 40px;
        }
    }

    .o_dropdown_bold {
        text-indent: -6px;
        .dropdown-item {
            font-weight: $font-weight-bolder !important;
        }
    }

}
