// $gold: #eca801;
// $silver: #cccccc;
// $bronze: #8e482e;

$o-wf-main-wrapper-width: map-get($container-max-widths, xl);
$o-wf-main-wrapper-narrow-width: map-get($container-max-widths, md);
$o-wf-sidebar-width: 16em !important;

.website_forum {
    --o-main-wrapper-width: #{$o-wf-main-wrapper-width};
    @include media-breakpoint-down(lg){
        --o-main-wrapper-width: #{$o-wf-main-wrapper-narrow-width};
    }

    --o-sidebar-width: #{$o-wf-sidebar-width};

    .o_wforum_main_wrapper {
        grid-template-columns: 1fr minmax(0, var(--o-main-wrapper-width)) 1fr;
        gap: 2rem;
    }

    .o_wforum_sidebar {
        width: var(--o-sidebar-width);
        grid-template-rows: auto min-content;

        .o_wforum_sidebar_section .nav-link:hover {
            background-color: $gray-200;
        }

        img.o_forum_avatar {
            width: 50px;
            height: 50px;
        }
    }

    .o_wforum_main_content {
        max-width: var(--o-main-wrapper-width);

        .o_wforum_table {
            img.o_forum_avatar {
                width: 36px;
                height: 36px;
                border: 2px solid var(--body-bg);
            }
        }
    }

    .js_wforum_submit_form {
        .odoo-editor {
            margin-bottom: 0;
        }
        .select2-choices {
            display: flex;
            background: none;
            li {
                align-self: center;
            }
        }
    }

}
//     .navbar {
//         min-height: 54px;
//     }
//     .o_wforum_side_nav .nav-link {
//         line-height: 1;

//         &.active {
//             color: map-get($theme-colors, 'primary');
//         }

//         img.o_forum_avatar {
//             width: 60px;
//             height: 60px;
//         }
//     }

//     .o_wforum_table {

//        @include media-breakpoint-up(md) {
//             .o_wforum_table_replies, .o_wforum_table_views, .o_wforum_table_activity {
//                 width:100px;
//             }
//         }
//     }

//     // Single Post
//     .o_wforum_post, .note-editable.panel-body {
//         word-wrap: break-word;

//         pre {
//             color: color-contrast(map-get($grays, '100'));
//             border-radius: $border-radius;
//             padding: 1rem;
//             background-color: map-get($grays, '100');
//             white-space: pre-wrap;
//         }

//         blockquote {
//             position: relative;
//             padding-left: 1em;
//             border-left: .25em solid map-get($grays, '500');
//             color: map-get($grays, '600');
//         }

//         #post_reply {
//             img.o_forum_avatar {
//                 width: 24px;
//                 height: 24px;
//             }
//         }
//     }


//     .o_wforum_readable {
//         max-width: 700px;

//         p {
//             margin-bottom: 0.5rem;
//         }

//         img {
//             max-width: 100%;
//         }

//         &::after {
//             content: "";
//             display: table;
//             clear: both;
//         }
//     }

//     .alert address {
//         display:inline;
//     }

//     textarea.o_wysiwyg_loader + .note-editor {
//         border: 0;

//         .note-toolbar {
//             @include border-top-radius($border-radius);
//             height: 32px;
//         }

//         .note-editable, .note-statusbar {
//             border: 1px solid $border-color;
//             border-width: 0 1px;
//         }

//         .note-statusbar {
//             display: block;
//             border-bottom-width: 1px;
//         }
//     }

//     .o_wforum_author_box {
//         &.o_show_info {
//             line-height: 1.2;
//             img {
//                 width: 3rem;
//                 height: 3rem;
//             }
//         }

//         &.o_compact {
//             line-height: 1;

//             img {
//                 width: 1.4em;
//                 height: 1.4em;
//             }
//         }

//     }

//     .forum_answer {
//         .o_wforum_answer_correct_badge {
//             display: none;
//         }

//         .o_wforum_author_box_check {
//             display: none;
//             width: 1.25em;
//             height: 1.25em;
//             top: -4px;
//             right: -4px;
//         }

//         // .o_wforum_validate_toggler {
//         //     @include o-hover-text-color(map-get($grays, '400'), lighten(map-get($theme-colors, 'success'), 20%));
//         // }

//         // &.o_wforum_answer_correct {
//         //     .o_wforum_answer_correct_badge, .o_wforum_author_box .o_wforum_author_box_check {
//         //         display: inline;
//         //     }

//         //     .o_wforum_validate_toggler {
//         //         @include o-hover-text-color(map-get($theme-colors, 'success'), map-get($theme-colors, 'warning'));

//         //         &:hover .fa.fa-check:before {
//         //             content: '\f00d';
//         //         }
//         //     }
//         // }
//     }

//     .o_wforum_gold {
//         color: $gold;
//     }

//     a.no-decoration {
//         cursor: pointer;
//         text-decoration: none !important;
//     }

//     .dropdown-menu {
//         button:focus {
//             outline: 0;
//         }
//     }
// }

// .website_forum, .o_wforum_profile_tab {
    .vote {
        .vote_count {
            line-height: 1;
            animation-play-state: paused;

            &.o_forum_vote_animate {
                animation: bounceIn 0.3s ease running;
            }
        }

        .vote_down, .vote_up {
            line-height: 0.5;
            font-size: 1.1em;
        }

        .vote_up {
            @include o-hover-text-color($text-muted, map-get($theme-colors, 'success'));
        }

        .vote_down {
            @include o-hover-text-color($text-muted, map-get($theme-colors, 'danger'));
        }

        &.o_wforum_vote_vertical {
            @include media-breakpoint-up(sm) {
                font-size: 1.2em;
            }
        }
    }
// }

.o_js_forum_tag_follow {
    position: relative;
    .fa:before {
        content: "\f055";
    }

    .js_follow_btn:hover .fa:before {
        color: $primary;
    }

    .js_unfollow_btn .fa:before {
        content: "\f056";
        color: map-get($theme-colors, 'danger');
    }

    .js_unfollow_btn:hover .fa:before {
        content: "\f056";
    }
}

// .o_profile_main {
//     overflow: hidden;
// }

// img.o_forum_avatar {
//     width: 40px;
//     height: 40px;
//     object-fit: cover;
// }

// .o_wprofile_email_validation_container {
//     @include media-breakpoint-up(lg) {
//         img.o_forum_avatar {
//             width: 26px;
//             height: 26px;
//         }
//     }
// }

// .o_wforum_bio_popover_wrap {
//     .o_wforum_bio_popover_name {
//         address > div, span[data-oe-model="res.country"] {
//             display: flex;
//             align-items: center;
//         }
//         span[data-oe-model="res.country"] {
//             margin-left: 10px;
//         }
//     }

//     .o_wforum_bio_popover_info .css_editable_mode_hidden > div:last-child > .o_forum_tooltip_line {
//         margin-top: -0.5rem; // compensate parent 'mt-2' class
//     }

//     .o_wforum_bio_popover_bio p {
//         margin-top: 8px;
//         margin-bottom: 0;
//     }

//     .text-gold{
//         color: $gold;
//     }

//     .text-silver{
//         color: $silver;
//     }

//     .text-bronze{
//         color: $bronze;
//     }
// }

// .o_wforum_elearning_navtabs_container {
//     @include media-breakpoint-up(md) {
//         background-color: map-get($theme-colors, 'secondary');
//     }
// }

// .website_forum {
//     margin-bottom: $spacer;
// }

// .popover.o_wforum_bio_popover_container {
//     max-width: 552px;
// }

#o_wforum_forums_index_list .card {
    text-decoration: none;
    transition: all .3s;
    border-radius: .75rem;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.175) !important;
    }
}

.o_wforum_index_entry_title {
    small {
        font-size: .875rem;
    }
}
