// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_RtcController {
    display: flex;
    justify-content: space-between;
}

.o_RtcController_button {
    margin: map-get($spacers, 1);
    padding: map-get($spacers, 4);
    display: flex;

    &.o-isSmall {
        padding: map-get($spacers, 3);
    }
}

.o_RtcController_buttonIconWrapper {
    display: flex;
    width: map-get($spacers, 4);
    height: map-get($spacers, 4);
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &.o-isSmall {
        width: map-get($spacers, 3);
        height: map-get($spacers, 3);
    }
}

.o_RtcController_buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_RtcController_button {
    color: white;
    background: none;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: map-get($grays, '800');

    &:hover {
        background-color: map-get($grays, '700');
    }

    &.o-isActive {
        opacity: 1;
    }

    @include hover-focus () {
        outline: none;
    }
}

.o_RtcController_callToggle {
    background-color: map-get($theme-colors, 'success');

    &:hover {
        background-color: darken(map-get($theme-colors, 'success'), 20%);
    }

    &.o-isActive {
        background-color: map-get($theme-colors, 'danger');

        &:hover {
            background-color: darken(map-get($theme-colors, 'danger'), 20%);
        }
    }
}

.o_RtcController_videoButton.o-isActive {
    color: map-get($theme-colors, 'success');
}
