table.o_question_list_view tr.o_data_row.o_is_page,
div.oe_kanban_card.o_is_page {
    font-weight: bold;
    background-color: #DDDDDD;
}
table.o_question_list_view tr.o_data_row.o_is_page {
    border-top: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}
