@keyframes item_in {
  0% {
    opacity: 0;
    margin-top: -30px;
  }
  50% {
    margin-top: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  font-smooth: always;
}
body .pos-customer_facing_display {
  background-color: #f6f6f6;
  font-size: 2vw;
  font-family: Futura, Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
body .pos-customer_facing_display .pos-customer_products,
body .pos-customer_facing_display .pos-payment_info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2%;
}
body .pos-customer_facing_display .pos_orderlines {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_list {
  overflow-y: scroll;
  padding-right: 1.5vw;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item {
  flex: 1 0 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
  padding: 1%;
  align-items: center;
  border-radius: 0.3vw;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item:last-of-type {
  animation: item_in 1s ease;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item:not(.pos_orderlines_header) {
  color: initial;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item.pos_orderlines_header {
  height: 3vh;
  background-color: transparent;
  box-shadow: none;
  animation: none;
  color: #aaaaaa;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item.pos_orderlines_header > div,
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item.pos_orderlines_header > div:last-child {
  border-left-width: 0;
  text-align: center;
  font-size: 70%;
  font-weight: normal;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item.pos_orderlines_header > div:last-child {
  text-align: left;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div {
  width: 5%;
  text-align: left;
  flex-grow: 1;
  margin-right: 4%;
  font-size: 80%;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div:first-child {
  flex: 1 1;
  width: 5%;
  margin-right: 2%;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div:nth-child(2) {
  width: 40%;
  border-left: 1px solid #dddddd;
  padding-left: 2%;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div:nth-child(3) {
  text-align: center;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div:last-child {
  margin-right: 0;
  font-weight: bold;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div div {
  background-position: center;
  background-size: cover;
  padding-top: 75%;
  display: block;
}
body .pos-customer_facing_display .pos-payment_info {
  max-width: 30%;
  background-color: #3E3E3E;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .pos-customer_facing_display .pos-payment_info .pos-adv,
body .pos-customer_facing_display .pos-payment_info .pos-company_logo {
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
}
body .pos-customer_facing_display .pos-payment_info .pos-adv[style*="url(http://placehold.it"],
body .pos-customer_facing_display .pos-payment_info .pos-company_logo[style*="url(http://placehold.it"] {
  background-color: #ccc;
}
body .pos-customer_facing_display .pos-payment_info .pos-company_logo {
  background-image: url(/logo);
  flex: 0 0 20%;
  margin-bottom: 10%;
}
body .pos-customer_facing_display .pos-payment_info .pos-adv {
  flex: 1 1 60%;
  margin-bottom: 5%;
  border-bottom: 1px solid rgba(246, 246, 246, 0.2);
}
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total,
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total > div,
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines > div {
  flex: 1 0 48%;
}
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total {
  font-size: 2.5vw;
}
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total .pos_total-amount {
  font-weight: bold;
  font-size: 2.4vw;
}
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines {
  margin-top: 2%;
  font-size: 80%;
  line-height: 1.6;
}
body .pos-customer_facing_display > .pos-adv {
  display: none;
}
@media all and (orientation: portrait) {
  body .pos-customer_facing_display {
    font-size: 2vh;
    flex-direction: column;
  }
  body .pos-customer_facing_display > .pos-adv {
    display: flex;
    height: 15vh;
    width: 100%;
    border: 0.5vh solid #3E3E3E;
  }
  body .pos-customer_facing_display .pos-payment_info {
    max-width: 100%;
    flex-grow: 0;
    height: 28vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  body .pos-customer_facing_display .pos-payment_info .pos-adv {
    display: none;
  }
  body .pos-customer_facing_display .pos-payment_info .pos-company_logo {
    margin: 0;
    flex: 1 1 20%;
    background-position: left;
    margin-right: 5%;
    height: 100%;
    padding: 0;
  }
  body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details {
    flex: 0 1 50%;
    flex-direction: column;
  }
  body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total {
    font-size: 3vw;
  }
  body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total .pos_total-amount {
    font-size: 3.5vw;
  }
  body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines {
    margin-top: 2%;
    font-size: 80%;
    line-height: 1.6;
  }
  body .pos-customer_facing_display .pos_orderlines_list {
    padding-right: 1.5vh;
  }
  body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh #dddddd;
    margin-bottom: 1vh;
  }
}
body .pos-hidden {
  opacity: 0;
}
body.editor_enable .pos-hidden {
  opacity: 0.1;
  background: repeating-linear-gradient(45deg, #f6f6f6, #f6f6f6 5px, #3E3E3E 5px, #3E3E3E 10px) !important;
}
body.editor_enable #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .snippet-option-pos_colorpicker > ul {
  background: black;
  padding: 10px;
}
body.editor_enable #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .snippet-option-pos_colorpicker > ul li {
  margin-bottom: 8px;
  border: 1px solid #c1c1c1;
}
body.editor_enable #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .snippet-option-pos_colorpicker > ul li.active {
  border-color: #05eb05;
}
body.editor_enable #oe_manipulators .oe_overlay > .oe_overlay_options > .btn-group > .oe_options .snippet-option-pos_colorpicker > ul li.active a:before {
  color: #05eb05;
}
.pos-bg_01 {
  background-color: #3E3E3E !important;
  color: #f6f6f6 !important;
}
.pos-bg_01 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw black;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_01 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh black;
  }
}
.pos-bg_02 {
  background-color: #f6f6f6 !important;
  color: #3E3E3E !important;
}
.pos-bg_02 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw #dddddd;
  background-color: white;
}
@media all and (orientation: portrait) {
  .pos-bg_02 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh #dddddd;
  }
}
.pos-bg_03 {
  background-color: #212a33 !important;
  color: #f6f6f6 !important;
}
.pos-bg_03 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw red;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_03 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh red;
  }
}
.pos-bg_04 {
  background-color: #576777 !important;
  color: #f6f6f6 !important;
}
.pos-bg_04 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw red;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_04 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh red;
  }
}
.pos-bg_05 {
  background-color: #54756e !important;
  color: white !important;
}
.pos-bg_05 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw red;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_05 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh red;
  }
}
.pos-bg_06 {
  background-color: #344844 !important;
  color: #f6f6f6 !important;
}
.pos-bg_06 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw red;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_06 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh red;
  }
}
.pos-bg_07 {
  background-color: #388076 !important;
  color: white !important;
}
.pos-bg_07 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw red;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_07 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh red;
  }
}
.pos-bg_08 {
  background-color: #d35400 !important;
  color: white !important;
}
.pos-bg_08 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw red;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_08 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh red;
  }
}
.pos-bg_09 {
  background-color: #462f45 !important;
  color: white !important;
}
.pos-bg_09 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw red;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_09 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh red;
  }
}
.pos-bg_10 {
  background-color: #775476 !important;
  color: white !important;
}
.pos-bg_10 .pos_orderlines_item {
  box-shadow: 0 0.1vw 0.1vw red;
  background-color: #f6f6f6;
}
@media all and (orientation: portrait) {
  .pos-bg_10 .pos_orderlines_item {
    box-shadow: 0 0.1vh 0.1vh red;
  }
}
