.s_image_text h2 {
    margin-top: 16px;
}
.s_image_text img {
    max-height: 450px;
}
.s_image_text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.s_text_image h2 {
    margin-bottom: 16px;
}
.s_text_image img {
    max-height: 450px;
}
.s_text_image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), url('file:///tmp/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: local('OpenSans-Light'), url('file:///tmp/OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Bold'), url('file:///tmp/OpenSans-Bold.ttf') format('truetype');
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSans-Light';
    margin: 0;
}

body {
    background-color: #efefef;
    font-family: 'OpenSans';
    font-size: 16px;
}
table {
    width: 100%;
}

thead {
    font-size: 13px;
    border-bottom: 5px solid #adadad;
}

.product-cell img {
    height: 45px;
}

.scroll-items {
    overflow-y: auto;
}

.product-cell {
    height: 50px;
}

/*FOOTER*/
.payment-info {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #3E3E3E;
    color: white;
    width: 100%;
}
.total-amount {
    color: #1fb496;
    font-family: 'OpenSans-Bold';
    font-size: 24px;
}