.html-history-dialog {
    .history-container {
        flex: 1;
        >div {
            padding: 10px 12px;
            border: 1px solid #ddd;
            border-top: 0;
        }
        .nav {
            padding-left: 24px;
        }

        diffdel {
            background-color: #f1afaf;
            text-decoration: line-through;
            opacity: 0.5;
        }
        diffadd {
            background-color: #c8f1af;
        }
        p {
            margin-bottom: 0.6rem;
        }
    }
    .revision-list {
        padding: 38px 8px 0;
        overflow: auto;
        max-height: 100%;

        .btn {
            border-radius: 0;
            display: block;
            text-align: left;
            width: 220px;
            margin-bottom: 8px;
            position: relative;
            &:before {
                content: '\f105';
                font-family: 'FontAwesome';
                position: absolute;
                right : 8px;
                top: 0;
                font-size: 34px;
            }
        }
    }
}
