/// Forward ported variable from BS4
// Link
$link-decoration: none !default;

// Typography
$display4-size:               3.5rem !default;
$display4-weight:             300 !default;

// Forms
$custom-control-gutter:                 .5rem !default;

// Tables
$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

// Links
$emphasized-link-hover-darken-percentage: 15% !default;
