div.o_sale_product_catalog_quantity {
    input[type="number"] {
        // Remove arrow buttons input type="number"
        appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            appearance: none;
            margin: 0;
        }
    }
}

// Keeping this here until rd-design make a global class for this color.
button.o_sale_product_catalog_add_to_cart {
    background-color: #017e84;
    color: RGBA(255, 255, 255, var(--text-opacity, 1));
}
