.o_kanban_view {
    .oe_kanban_mass_mailing {
        .o_title {
            margin-bottom: 16px;
        }
        .o_kanban_primary_bottom {
            margin-top: 16px;
        }
        .oe_margin_top_8 {
            margin-top: 8px;
        }
        .oe_margin_bottom_8 {
            margin-bottom: 8px;
        }
    }
}

.o_white_body {
    background-color: white;
}

.o_mass_mailing_unsubscribed {
    margin-left: 20px;
    color: #005326;
    font-size: 90%;
}

@media only screen and (min-width: 1200px) {
    .o_utm_campaign_mass_mailing_substats {
        padding-right: 210px;
        div {
            margin-left: 50px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .o_utm_campaign_mass_mailing_substats {
        padding-right: 180px;
        div {
            margin-left: 30px;
        }
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .o_mail_body 
    {
        width: 106%;
        margin-top: -15px;
        margin-left: -32px;
    }


    .mailing_form_view
    {
    .o_notebook_body
        {
            margin-bottom: -45px;
        }
    }
}

@media only screen and (min-width: 1601px) and (max-width: 2800px)
{
    .o_mail_body
    {
       width: 102.83%;
        margin-top: -15px;
        margin-left: -14px;
    }

    .mailing_form_view
    {
    .o_notebook_body
        {
            margin-bottom: -45px;
        }
    }

}