.o_field_widget.o_mail_body {
    height: 55vh;
    display: flex;

    .o_mail_theme_selector {
        overflow: auto;

        > a {
            height: $o-we-toolbar-height;
            width: 90%;
            line-height: $o-we-toolbar-height;
            border-radius: 0;
            background-color: $o-we-color;
            color: $o-we-color;
            justify-content: center;
            align-items: center;
            box-shadow: none !important;
    
            .o_thumb {
                display: none;
                background-size: cover;
                padding-top: 45%;
                width: 90%;
                margin: 10px auto;
                border: 1px solid $o-we-border-color;

                &.logo {
                    display: block;
                }
            }

            &:first-child {
                display: none;
            }
        }
    }
}

.o_basic_theme .o_main_sidebar {
    display: none;
}

.oe_form_field_html .o_we_website_top_actions {
    display: none;
}
