
.o_kanban_view {
    min-height: 100%;
    .o-flex-display();
    align-content: stretch;
    padding: 8px;
    @media (max-width: @grid-float-breakpoint) {
        padding: 0px;
    }

    .o_kanban_record {
        min-width: 150px;
        background-color: white;
        margin: 5px;
        box-shadow: 0px 0px 2px 1px @odoo-main-text-color;
        overflow: hidden;

        &.o_record_dragged {
            background-color: @odoo-main-text-color;
        }

        .o_kanban_small {
            width: 240px;
        }
    }

    &.o_kanban_ungrouped {
        flex-wrap: wrap;
        justify-content: flex-start;

        .o_kanban_record {
            flex-grow: 1;
            width: 320px;
            @media (max-width: @grid-float-breakpoint) {
                margin: 0px;
                width: 100vw;
                box-shadow: none;
                border-bottom: 1px solid @odoo-main-text-color;
            }
        }
    }

    .o_kanban_group {
        flex-shrink: 0;
        flex-grow: 0;
        padding: 5px;

        &.o_kanban_empty {
            background-color: @odoo-main-text-color;
            margin-left: 8px;
            margin-right: 8px;
        }

        &.o_kanban_dragged {
            background-color: @odoo-main-text-color;
            .o_kanban_record {
                visibility: hidden;
            }
        }

        .o_kanban_header {
            color: white;
            padding: 8px;
        }

        .o_kanban_record {
            cursor: default;
            &.o_kanban_dragged {
                visibility: hidden;
            }
        }
    }
}

// to clean up
.o_kanban_dnd() {
    position: absolute;
    top: 0;
    max-height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.o_column_dnd {
    .o_kanban_dnd;
    min-height: 50vh;
}

.o_record_dnd {
    .o_kanban_dnd;
    left: 10;
    transform: rotate(2deg);
}

.oe_kanban_image {
    width: 64px;
    height: 64px;
}

.oe_dropdown_kanban {
    display: none;
}

