// = Default Boostrap Classes customizations
// ----------------------------------------------------------------------------
.dropdown-menu {
  max-height: 70vh;
  overflow: auto;
  background-clip: border-box;
  box-shadow: $o-dropdown-box-shadow;
}

.dropdown-item {
  &.active, &.selected {
    position: relative;
    font-weight: $font-weight-bold;

    &:focus, &:hover {
      background-color: $dropdown-link-hover-bg;
    }

    &:not(.o_dropdown_item_active_noarrow) {
      &:before {
        @include o-position-absolute(0);
        transform: translate(-1.5em, 90%);
        font: .7em/1em FontAwesome;
        color: $primary;
        content: "\f00c";
      }

      &.disabled:before {
        color: $dropdown-link-disabled-color;
      }
    }
  }
}

.dropdown-header {
  font-weight: $font-weight-bold;
  padding-bottom: .1em;

  &:not(:first-child) {
    margin-top: .3em;
  }
}

.dropdown-divider:first-child {
  display: none;
}

.o_rtl {
  .dropdown-menu {
    // @extend .dropdown-menu-right;
  }
}

// = Owl components specific rules
// -----------------------------------------------------------------------------
.o_dropdown_menu {
    &.focus > .o_dropdown_toggler, .o_dropdown_item.focus {
      background-color: $dropdown-link-hover-bg;
    }

    > li.o_dropdown {
      > .o_dropdown_toggler:after {
        @include o-position-absolute($right: 0);
        transform: translate(-.6em, .3em);
        font: .9em/1em FontAwesome;
        content: "\f0da";
      }

    // Correctly align sub dropdowns items with its parent's
    & > .o_dropdown_menu {
      &.o-popper-position {
        &--rs, &--ls {
          margin-top: calc(-.5rem - 1px);
        }
        &--re, &--le {
          margin-top: calc(.5rem - 2px);
        }
      }
    }
  }
}

.o_dropdown_item:not(.disabled):not(:disabled) {
  // Needed 'cause <DropdownItem> generate <li> html tags that for browsers are
  // normally not clickable.
  cursor: pointer;
}

button.o_dropdown_toggler {
  > span {
    min-width: max-content;
  }

  &.o_dropdown_active, &:hover, &:focus, &:active {
    outline: none;
    box-shadow: none !important;
  }
}
