// SearchBar Menu
// ============================================================================
.o_search_bar_menu {
    .o_dropdown_container {
        border-color: $dropdown-divider-bg !important;
    }
    .collapse, .collapsing {
        border-left: 1px solid lightgray;
        margin-left: 1.5rem;
    }
}