// out: ../css/customer_facing_display.css, sourcemap: false, compress: false

@color_gray_lighter: #f6f6f6;
@color_gray_light: darken(@color_gray_lighter, 10%);
@color_gray_dark: #3E3E3E;
@font_size_base: 2vmin;

@keyframes item_in {
    0% {
        opacity: 0;
        margin-top: -30px;
    }
    50% {
        margin-top: 0;
    }
    to {
        opacity: 1;
    }
}

.pos-bg() {
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;

    &[style*="url(http://placehold.it"] {
        // Add a bg-color in case we are using a pleceholder.
        // This will help the user to identify the right image dimension
        // before apply customizations.
        background-color: #ccc;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    font-smooth: always;

    .pos-customer_facing_display {
        background-color: @color_gray_lighter;
        font-size: 2vw;
        font-family: Futura, Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;

        .pos-customer_products, .pos-payment_info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 2%;
        }

        .pos_orderlines {
            display: flex;
            flex-direction: column;
            width: 100%;

            .pos_orderlines_list {
                overflow-y: scroll;
                padding-right: 1.5vw;
            }

            .pos_orderlines_item {
                flex: 1 0 100%;
                display: flex;
                flex-direction: row;
                margin-bottom: 1vw;
                padding: 1%;
                align-items: center;
                border-radius: 0.3vw;
                &:last-of-type {
                    animation: item_in 1s ease;
                }

                &:not(.pos_orderlines_header) {
                    color: initial;
                }

                &.pos_orderlines_header {
                    height: 3vh;
                    background-color: transparent;
                    box-shadow: none;
                    animation: none;
                    color: darken(@color_gray_lighter, 30%);
                    > div, > div:last-child {
                        border-left-width: 0;
                        text-align: center;
                        font-size: 70%;
                        font-weight: normal;
                    }
                    > div:last-child {
                        text-align: left;
                    }
                }
                > div {
                    width: 5%;
                    text-align: left;
                    flex-grow: 1;
                    margin-right: 4%;
                    font-size: 80%;

                    &:first-child {
                        flex: 1 1;
                        width: 5%;
                        margin-right: 2%;
                    }
                    &:nth-child(2) {
                        width: 40%;
                        border-left: 1px solid darken(@color_gray_lighter, 10%);
                        padding-left: 2%;
                    }
                    &:nth-child(3) {
                        text-align: center;
                    }

                    &:last-child {
                        margin-right: 0;
                        font-weight: bold;
                    }
                    div {
                        background-position: center;
                        background-size: cover;
                        padding-top: 75%;
                        display: block;
                    }
                }
            }
        }
        .pos-payment_info {
            max-width: 30%;
            background-color: @color_gray_dark;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .pos-adv, .pos-company_logo {
                .pos-bg();
            }
            .pos-company_logo {
                background-image: url(/logo);
                flex: 0 0 20%;
                margin-bottom: 10%;
            }
            .pos-adv {
                flex: 1 1 60%;
                margin-bottom: 5%;
                border-bottom: 1px solid fade(@color_gray_lighter, 20%);
            }
            .pos-payment_info_details{
                .pos-total, .pos-paymentlines {
                    flex-direction: row;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: baseline;
                    > div {
                        flex: 1 0 48%;
                    }
                }
                .pos-total {
                    font-size: 2.5vw;
                    .pos_total-amount {
                        font-weight: bold;
                        font-size: 2.4vw;
                    }
                }
                .pos-paymentlines {
                    margin-top: 2%;
                    font-size: 80%;
                    line-height: 1.6;
                }
            }
        }
        > .pos-adv {
            display: none;
        }
    }

    @media all and (orientation: portrait) {
        .pos-customer_facing_display {
            font-size: 2vh;
            flex-direction: column;

            > .pos-adv {
                // For this layout, show the ADV cloned using js.
                display: flex;
                height: 15vh;
                width: 100%;
                border: .5vh solid @color_gray_dark;
            }

            .pos-payment_info {
                max-width: 100%;
                flex-grow: 0;
                height: 28vw;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .pos-adv {
                    // Hide ADV in payment_info.
                    display: none;
                }

                .pos-company_logo {
                    margin: 0;
                    flex: 1 1 20%;
                    background-position: left;
                    margin-right: 5%;
                    height: 100%;
                    padding: 0;
                }
                .pos-payment_info_details {
                    flex: 0 1 50%;
                    flex-direction: column;
                    .pos-total {
                        font-size: 3vw;
                        .pos_total-amount {
                            font-size: 3.5vw;
                        }
                    }
                    .pos-paymentlines {
                        margin-top: 2%;
                        font-size: 80%;
                        line-height: 1.6;
                    }
                }
            }

            .pos_orderlines_list {
                padding-right: 1.5vh;
            }

            .pos_orderlines {
                .pos_orderlines_item {
                    box-shadow: 0 .1vh .1vh darken(@color_gray_lighter, 10%);
                    margin-bottom: 1vh;
                }
            }

        }
    }
}

// EDIT MODE
body {
    .pos-hidden {
        opacity: 0;
    }

    &.editor_enable {
        .pos-hidden {
            opacity: 0.1;
            background: repeating-linear-gradient(
                45deg,
                @color_gray_lighter,
                @color_gray_lighter 5px,
                @color_gray_dark 5px,
                @color_gray_dark 10px
            )!important;
        }

        #oe_manipulators .oe_overlay >
        .oe_overlay_options > .btn-group > .oe_options
        .snippet-option-pos_colorpicker > ul {
            background: black;
            padding: 10px;
            li {
                margin-bottom: 8px;
                border: 1px solid #c1c1c1;
                &.active {
                    border-color: #05eb05;
                    a:before {
                        color: #05eb05;
                    }
                }
            }
        }
    }
}

.color_variant(@bg, @text, @shadows, @card: @color_gray_lighter) {
    background-color: @bg!important;
    color: @text!important;

    .pos_orderlines_item {
        box-shadow: 0 0.1vw 0.1vw @shadows;
        background-color: @card;
        @media all and (orientation: portrait) {
            box-shadow: 0 .1vh .1vh @shadows;
        }
    }
}

.pos-bg_01  { .color_variant(@color_gray_dark, @color_gray_lighter, black); }
.pos-bg_02  { .color_variant(@color_gray_lighter, @color_gray_dark, @color_gray_light, white) }
.pos-bg_03  { .color_variant(#212a33, @color_gray_lighter, red); }
.pos-bg_04  { .color_variant(#576777, @color_gray_lighter, red); }
.pos-bg_05  { .color_variant(#54756e, white, red); }
.pos-bg_06  { .color_variant(#344844, @color_gray_lighter, red); }
.pos-bg_07  { .color_variant(#388076, white, red); }
.pos-bg_08  { .color_variant(#d35400, white, red); }
.pos-bg_09  { .color_variant(#462f45, white, red); }
.pos-bg_10  { .color_variant(#775476, white, red); }
