div.widget-one2manyhistorylist {
    padding: 8px;
    width: 100%;

    .avatar {
        width: 36px;
        height: 36px;
        margin-right: 12px;
    }
    .action-buttons div {
        width: 100%;
        padding: 2px 0;
    }
    .btn {
        width: 100%;
        .fa-retweet {
            transform: rotate(90deg);
        }
    }
}
