.o_kiosk_language_selector {
    z-index: 100;

    img {
        height: 2em;
        aspect-ratio: 3/2;
    }
}
.o_kiosk-landing_image {
    object-fit: cover;

    @include o-kiosk-landscape() {
        object-position: center;
    }

    @include o-kiosk-portrait() {
        object-position: center top;
    }
}
