.active-step {
    .o_kiosk_combo_icon, ~ .step .o_kiosk_combo_icon {
        visibility: hidden;
    }
}

.o_kiosk-combo {
    .o_self_order_item_card_image {
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}
