.o_kiosk_product_list {
    .category-list {

        .category-item {
            --aspect-ratio: 85%;

            @include o-kiosk-portrait() {
                width: percentage(1/6);
            }

            @include o-kiosk-landscape() {
                width: percentage(1/8);
            }
        }

        img {
            object-fit: cover;
        }
    }

    .product-list {
        .product-list-category {
            grid-template-columns: repeat(5, 1fr);
            gap: 1vw;

            @include o-kiosk-portrait() {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}

.o_kiosk_product_list_footer {
    .info-number svg {
        aspect-ratio: 1/1;
        width: 5ch;
    }

    @include o-kiosk-portrait() {
        .btn {
            flex: 0 0 25%;
        }
    }

    @include o-kiosk-landscape() {
        .footer-information-label {
            visibility: hidden;
        }
    }
}
