.o_tag {
    font-size: var(--Tag-font-size, #{$font-size-sm});
    max-width: var(--Tag-max-width, 100%);

    .o_badge_text, a {
        line-height: 1.1;
    }

    .o_m2m_avatar {
        height: var(--Avatar-size, #{$o-avatar-size});
        aspect-ratio: 1;
    }

    a {
        color: inherit;
    }

    $-tags-names: map-keys($o-tags-colors);
    @for $size from 1 through length($-tags-names) {
        &.o_tag_color_#{$size - 1} {
            $-tag: map-get($o-tags-colors, nth($-tags-names, $size));

            &, &::after {
                background-color: map-get($-tag, 'bg');
                color: map-get($-tag, 'color');
            }
        }
    }
}