.s_blockquote {
    border: 1px solid $border-color;
    border-radius: $border-radius;

    .s_blockquote_avatar {
        height: 56px;
    }

    .s_blockquote_icon, .s_blockquote_minimalist_border {
        display: none;
    }

    // Card
    &.s_blockquote_card {
        .s_blockquote_infos {
            flex-direction: row-reverse;
            justify-content: end;
            text-align: right;
        }
    }

    // Minimalist
    &.s_blockquote_minimalist {
        border: 0;
        border-radius: 0;
        overflow: hidden;

        .s_blockquote_minimalist_border {
            display: block;
            width: .25rem;
        }

        .s_blockquote_avatar {
            display: none;
        }
    }

    // Centered
    &.s_blockquote_centered {
        text-align: center;

        .s_blockquote_infos {
            flex-direction: column;
            align-items: center;

            .s_blockquote_author {
                align-items: center;
            }
        }

        .s_blockquote_icon {
            display: block;
        }
    }

    // Large
    &.s_blockquote_large {
        .s_blockquote_quote {
            font-size: $h4-font-size;
        }
    }
}
