// Index
.o_wevent_index {
    // Events List
    .o_wevent_events_list {
        a {
            .o_record_cover_image {
                transition: all .25s ease-in-out;
            }
            &:hover, &:focus {
                .o_record_cover_image {
                    transform: scale(1.05);
                }
            }
        }
        &.opt_event_list_cards_bg {
            @if (color('body') == $o-portal-default-body-bg) {
                @extend .bg-200;
            }
        }
        header {
            height: 200px;
        }
        .opt_events_list_columns {
            .o_wevent_event_template {
                @include o-position-absolute($top: 0, $left: 0);
                @include border-right-radius($rounded-pill);
                padding: ($spacer * .5) $card-spacer-x;
                transform: translateY(-50%);
            }
        }
        .opt_events_list_rows {
            .o_wevent_event_template {
                float: right;
                transform: translateX($card-spacer-x);
                padding: ($spacer * .5) $card-spacer-x;
                @include border-left-radius($rounded-pill);
            }
        }
        .o_wevent_event_date {
            top: $card-spacer-x;
            right: $card-spacer-x;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include size(4rem);
            border-radius: 50%;
            text-align: center;

            .o_wevent_event_day {
                font-size: $font-size-lg;
                font-weight: 300;
                line-height: 1;
            }
            .o_wevent_event_month {
                font-size: $font-size-sm;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
            }
        }
        .o_wevent_participating,
        .o_wevent_unpublished {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: $card-spacer-y $card-spacer-x;
            text-align: right;
        }
        .card-title {
            color: $body-color;
        }
        .card-text {
            font-size: $font-size-sm;
        }
        .o_wevent_event_tags {
            .badge {
                padding: $badge-padding-y * 2 $badge-padding-x * 2;
            }
        }
    }
    .o_wevent_sidebar_title {
        margin: 0 0 ($spacer * 1.5) 0;
        border-bottom: $border-width solid $border-color;
        padding: 0 0 ($spacer * .5) 0;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
    .o_wevent_sidebar_block {
        margin: 0 0 ($spacer * 2.5) 0;
    }
    .o_wevent_sidebar_figure {
        position: relative;

        .figure-img {
            margin-bottom: 0;
        }
        .figure-caption {
            @include o-position-absolute($left: 0, $bottom: 0);
            width: 100%;
            padding: $spacer;
            background-color: rgba($color: #000, $alpha: 0.5);
            @include border-bottom-radius($border-radius);
            color: #fff;
        }
    }
    #o_wevent_index_main_col .form-inline {
        width: 100%;
    }
}

.s_country_events_list_event {
    .s_country_events_list_date {
        min-width: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: o-color('100');
        border-left: .25rem solid o-color('o-color-2');
    }
    .o_wevent_event_day {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        line-height: $headings-line-height;
    }
    .o_wevent_event_month {
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
}
