.o_wevent_registration_list_attendees:nth-child(2n) {
    background-color: gray('200');
}

// TODO: Improve this part
#o_we_search_box {
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 15px;
    .form-control {
        @include hover-focus {
            border-color: $primary;
            box-shadow: none;
        }
    }
}

// TODO: Improve this part
#o_we_index_topbar_filters {
    .dropdown-toggle {
        display: block;
        margin-right: $spacer * 0.5;
        border: 1px solid #ced4da;
        padding: .5rem .75rem;
        background-color: #fff;
        @include border-radius($dropdown-border-radius);
        color: #495057;
        @include hover-focus {
            border-color: $primary;
            color: $primary;
            text-decoration: none;
        }
        &:after {
            margin-left: 1.2em;
        }
        .fa {
            margin-right: .4em;
            color: $primary;
        }
    }
    .dropdown-menu {
        margin-top: .5em;
        min-width: 12rem;
    }
    .dropdown-item  {
        padding: .3rem 1rem;
        .badge {
            background-color: $primary;
            color: color-yiq($primary);
        }
        &.active .badge {
            color: $primary;
            background-color: color-yiq($primary);
        }
    }
}

// TODO • No way to set a class for a menu item?
// Crappy way to makes Register link looks like a button.
#o_we_event_submenu .nav-item:last-child {
    @include media-breakpoint-up(md) {
        margin-left: auto;
    }
    .nav-link {
        padding: 0.5rem 2rem;
        background-color: $primary;
        border-radius: 4px;
        color: #fff !important;
        text-align: center;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
}

// Generic
.o_we_social_link {
    $o_link_size: 3em;
    display: inline-block;
    @include size($o_link_size);
    margin: 0 ($spacer * .25) ($spacer * .5) ($spacer * .25);
    line-height: $o_link_size;
    background-color: gray('100');
    border: $border-width solid $border-color;
    border-radius: 50%;
    text-align: center;
}

.o_we_badge {
    padding: ($spacer * .5) $spacer;
    border-radius: 10rem;
    font-weight: $font-weight-normal;
}

.o_we_border_dashed {
    border-right: $border-width dashed $border-color;
}

// .shadow-sm {
//     box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1) !important;
// }


// Index
.o_we_index {
    // Events List
    .o_we_events_list {
        header {
            height: 200px;
            overflow: hidden;
            a {
                transition: all .25s ease-in-out;
                @include hover-focus {
                    transform: scale(1.05);
                }
            }
        }
        .o_we_event_category {
            top: -$spacer;
            left: 0;
            padding: ($card-spacer-y * .5) $card-spacer-x;
            @include border-right-radius(10rem);
            background-color: #fff;
            > * {
                vertical-align: middle;
            }
        }
        .o_we_event_date {
            top: 1.125rem;
            right: $card-spacer-x;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include size(4rem);
            border-radius: 50%;
            text-align: center;
            .o_we_event_day {
                font-size: 1.125rem;
                font-weight: 300;
                line-height: 1;
            }
            .o_we_event_month {
                font-size: 0.75rem;
                font-weight: $font-weight-bold;
                text-transform: uppercase;
            }
        }
        .o_we_event_participating,
        .o_we_event_unpublished {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: $card-spacer-y $card-spacer-x;
            text-align: right;
        }
        .card-title {
            color: $body-color;
        }
        // .card-footer {
        //     background-color: #fff;
        // }
    }
    // Sidebar
    .o_we_sidebar_title {
        margin: 0 0 ($spacer * 1.5) 0;
        border-bottom: $border-width solid $border-color;
        padding: 0 0 ($spacer * .5) 0;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }
    .o_we_sidebar_block {
        margin: 0 0 ($spacer * 2.5) 0;
    }
    .o_we_sidebar_figure {
        position: relative;
        .figure-img {
            margin-bottom: 0;
        }
        .figure-caption {
            @include o-position-absolute($left: 0, $bottom: 0);
            width: 100%;
            padding: $spacer;
            background-color: rgba($color: #000, $alpha: 0.5);
            @include border-bottom-radius($border-radius);
            color: #fff;
        }
    }
}

// Event
.o_we_event {
    .o_we_sidebar_title {
        margin-bottom: $spacer;
        opacity: .5;
        text-transform: uppercase;
    }
    .o_we_sidebar_block {
        padding: $spacer * 3;
        border-bottom: $border-width solid $border-color;
        &:last-child {
            border-bottom: 0;
        }
    }
}