#o_we_search_box {
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 15px;
    .form-control {
        @include hover-focus {
            border-color: $primary;
            box-shadow: none;
        }
    }
}

#o_we_topbar_filters {
    .dropdown-toggle {
        margin-right: .8em;
        border: 1px solid #ced4da;
        padding: .5rem .75rem;
        background-color: #fff;
        @include border-radius($dropdown-border-radius);
        color: #495057;
        @include hover-focus {
            border-color: $primary;
            color: $primary;
            text-decoration: none;
        }
        &:after {
            margin-left: 1.2em;
        }
        .fa {
            margin-right: .4em;
            color: $primary;
        }
    }
    .dropdown-menu {
        margin-top: .5em;
        min-width: 12rem;
    }
    .dropdown-item  {
        padding: .3rem 1rem;
        .badge {
            background-color: $primary;
            color: color-yiq($primary);
        }
        &.active .badge {
            color: $primary;
            background-color: color-yiq($primary);
        }
    }
}

#o_we_topbar {
    .o_we_topbar_link .fa {
        margin-right: .4em;
        color: $primary;
    }
}

.o_border_dashed {
    border-right: 1px dashed $gray-400;
}

// No card style
.o_event_card { 
    border: 0;
    .card-footer { 
        border: 0;
    }
}

article {
    header {

    }
    .card-img-overlay {
        z-index: 1;
    }
    .card-title {
        color: $body-color;
    }
    .card-body {
        flex: 1;
        background-color: rgba(0, 0, 0, 0);
    }
    .card-img {
        height: 180px;
        transition: all .25s ease-in-out;
    }
    a:hover .card-img {
        transform: scale(1.05);
    }
    .card-footer {
        background-color: #fff;
    }
}

.o_speaker_img {
    $width: 50px;
    width: $width;
    border: 5px solid #fff;
    border-radius: $width/2;
    @include o-position-absolute($top:-10px, $right: 20px);
}

.shadow-sm {
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1) !important;
}

.o_we_ticket {
    + .o_we_ticket { margin-top: 15px;}
    .o_we_ticket_qty {
        min-width: 5em;
    }
}