// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_MessageList_empty {
    line-height: 2.5rem;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------
.o_MessageList {
    background-color: $o-view-background-color;
}

.o_MessageList_emptyTitle.o-neutral-face-icon:before {
    @extend %o-nocontent-init-image;
    @include size(120px, 140px);
    background: transparent url(/web/static/img/neutral_face.svg) no-repeat center;
}

.o_MessageList_loadMore {
    cursor: pointer;
}

.o_MessageList_separatorLineNewMessages {
    border-color: $o-brand-odoo;
}

.o_MessageList_separatorNewMessages em {
    color: $o-brand-odoo;

}

// ------------------------------------------------------------------
// Animation
// ------------------------------------------------------------------

.o_MessageList_separatorNewMessages:not(.o-disable-animation) {
    &.fade-leave-active {
        transition: opacity 0.5s;
    }

    &.fade-leave-to {
        opacity: 0;
    }
}
