.s_dynamic {
  .carousel-control-prev .fa, .carousel-control-next .fa {
    width: 2.6rem;
    height: 2.6rem;
  }
  .dynamic_snippet_template .card-footer a, .dynamic_snippet_template .card-footer button, .o_dynamic_snippet_btn_wrapper {
    z-index: 2;
  }
  .dynamic_snippet_template .card-body .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .s_dynamic_snippet_arrow_bottom {
    > .carousel-control-prev, .carousel-control-next {
      position: relative;
    }
  }
}
