//==============================================================================
// Bootstrap Mixins and Functions Extensions
// Those will affect how bootstrap is generated in the backend only
//==============================================================================


// Function used to retrieve a text color prioritizing our fine-tuned ones.
//------------------------------------------------------------------------------
@function o-text-color($key) {
    $-all-text-colors: map-merge($theme-colors, $o-theme-text-colors);

    @if map-has-key($-all-text-colors, $key) {
        @return map-get($-all-text-colors, $key);
    }

    @return false;
}


// Customize Bootstrap 'text-emphasis-variant' mixin allowing text colors other
// than the '$theme-colors' ones.
// It prioritizes the '$o-theme-text-colors' map and fallbacks to default.
//------------------------------------------------------------------------------
@mixin text-emphasis-variant($-parent, $-color) {
    #{$-parent} {
        color: RGBA(to-rgb($-color), var(--text-opacity, 1)) !important;
    }

    a#{$-parent}, button#{$-parent} {
        &:hover, &:focus {
            color: RGBA(to-rgb(darken($-color, $link-shade-percentage)), var(--text-opacity, 1)) !important;
        }
    }
}
