
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.o_datepicker {
    position: relative;

    .o_datepicker_input {
        width: 100%;
        cursor: pointer;
    }

    .o_datepicker_button {
        @include o-position-absolute(2px, 4px);
        pointer-events: none; // let click events go through the underlying input
        &:after {
            @include o-caret-down;
        }
    }

    .o_datepicker_warning {
        top: 0;
        right: 20px;
    }
}


// The 'div.dropdown-menu' part is needed to override default bootstrap rule as
// this file is unfortunately placed in common assets.
div.dropdown-menu.bottom.bootstrap-datetimepicker-widget{
    padding: 0;
    border-top: 0;

    &:before, &:after {
        transform: translateY(1px);
    }

    // Need to put datetimepicker widget above everything else
    z-index: $zindex-modal + 1;

    // Also fix the dropdown width
    width: 22rem;
}

.bootstrap-datetimepicker-widget .datepicker {
    table {
        color: $o-main-headings-color;

        th, td {
            width: percentage(1/8);
            height: 30px;
            line-height: 30px;
            border-radius: 0;

            &.prev, &.next, &.old, &.new {
                @include o-hover-opacity(.5);
            }
        }

        th {
            border-bottom-width: $border-width;

            &.picker-switch {
                font-size: 1.2em;
            }
        }

        tr:nth-child(2) th {
            height: 20px;
            line-height: 20px;
        }

        tr:nth-child(2) th, td.cw {
            background-color: $gray-100;
            font-size: .8em;
            font-weight: 500;
            color: $o-main-text-color;
        }

        td {
            font-size: .9em;

            &.today:before {
                border-bottom-color: $o-brand-primary;
            }

            &.active.today:before {
                border-bottom-color: $bs-datetimepicker-active-color;
            }
        }
    }
}

.picker-switch {
    span.fa {
        margin: 0;
        @include transition($btn-transition);
        &.primary {
            background-color: $o-brand-primary;
            color: white;
            &:hover {
                background-color: darken($o-brand-primary, 10%);
            }
        }
    }
}
