.ui-widget.ui-autocomplete { // Copy style of bootstrap dropdown
    @extend .dropdown-menu;
    top: 0; // Necessary to correctly compute the initial position

    .ui-menu-item {
        padding: 0;

        > a {
            @extend .dropdown-item;

            &.ui-state-active {
                margin: 0;
                border: none;
                font-weight: $font-weight-normal;
                color: $dropdown-link-hover-color;
                background-color: $dropdown-link-hover-bg;
            }
        }

        &.o_m2o_dropdown_option, &.o_m2o_start_typing {
            text-indent: $o-dropdown-hpadding * .5;
        }

        &.o_m2o_start_typing {
            font-style: italic;
            cursor: default;

            a.ui-menu-item-wrapper, a.ui-state-active, a.ui-state-active:hover {
                background: none;
            }
        }
    }
}

.dropdown-menu {
    box-shadow: $box-shadow;

    .o_inline_dropdown {
        position: relative;

        & > .dropdown-menu {
            top: 0;
            left: 100%;
        }
        &:hover .dropdown-menu {
            display: block;
        }
    }
}

.show .dropdown-menu, .navbar-nav .show .dropdown-menu {
    > * {
        position: relative; // to allow absolute positionning inside the items
    }

    .dropdown-item {
        &:focus, &:active, &:focus:active {
            outline: none;
        }
    }

    .dropdown-header {
        font-weight: $font-weight-bold;

        @include media-breakpoint-down(sm) {
            color: white;
            text-decoration: underline;
        }
    }
}

.o_rtl {
    .dropdown-menu {
        left: auto;
    }
}
