.o_dropdown_menu {
    > .dropdown-divider:first-child {
        display: none;
    }

    min-width: 150px;
    max-height: calc(100vh - 140px); // FIXME
    overflow: auto;

    .o_menu_item {
        position: relative;
    }
}

.dropdown-item {
    position: relative;

    &.selected { // TODO why not using standard BS4 "active" class ?
        color: $dropdown-link-active-color;
        font-weight: $font-weight-bold;

        &:before {
            @include o-position-absolute(.65em, $left: 0);
            width: $dropdown-item-padding-x;
            font: .8em FontAwesome;
            text-align: center;
            color: $success;
            content: "\f00c";
        }
    }

    .o_trash_button {
        padding-left: 8px;
        @include o-position-absolute($right: $dropdown-item-padding-x * 0.5);
    }
}