.o_graph {
    .o_graph_svg_container {
        direction: ltr#{"/*rtl:ignore*/"};
        height: 100%;
        overflow: auto;
        svg {
            background-color: $o-view-background-color;
        }
    }
}

.nvtooltip thead {
    background-color: transparent;
}

// ------------------------------------------------------------------
// Control panel buttons
// ------------------------------------------------------------------
.o_graph_measures_list {
    @include o-selected-li;
}
