.o_knowledge_permission_panel {
    .o_company_icon {
        width: 30px;
        height: 30px;
    }
    .active {
        background: #cceaf9;
    }
    .text-muted {
        font-size: 0.85rem;
    }
}
