[data-embedded="file"] {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
    // background-color: $o-gray-100;
    outline: 1px solid $o-gray-300;
    outline-offset: -1px;
    display: flex;
    padding: 5px;
    width: fit-content;
    min-width: 250px;
    display: inline-block;

    [data-embedded-editable] {
        background-color: white;
    }

    .o_embedded_file_name_container {
        .o_file_name:hover {
            cursor: text;
        }
        &:hover i {
            visibility: visible !important;
        }
    }
}
