.s_image_gallery[data-vcss="002"] {
    &.o_grid, &.o_masonry {
        .img {
            width: 100%;
        }
    }
    &.o_grid {
        &.o_spc-none div.row {
            margin-bottom: 0px;
        }
        &.o_spc-small div.row > div {
            margin-bottom: $spacer;
        }
        &.o_spc-medium div.row > div {
            margin-bottom: $spacer * 2;
        }
        &.o_spc-big div.row > div {
            margin-bottom: $spacer * 3;
        }
    }
    &.o_masonry {
        &.o_spc-none div.o_masonry_col {
            padding: 0;
            > img, > a > img, > .media_iframe_video {
                margin: 0 !important;
            }
        }
        &.o_spc-small div.o_masonry_col {
            padding: 0 ($spacer * .5);
            > img, > a > img, > .media_iframe_video {
                margin-bottom: $spacer !important;
            }
        }
        &.o_spc-medium div.o_masonry_col {
            padding: 0 $spacer;
            > img, > a > img, > .media_iframe_video {
                margin-bottom: $spacer * 2 !important;
            }
        }
        &.o_spc-big div.o_masonry_col {
            padding: 0 ($spacer * 1.5);
            > img, > a > img, > .media_iframe_video {
                margin-bottom: $spacer * 3 !important;
            }
        }
    }
    &.o_nomode {
        &.o_spc-none .row > div {
            padding-top: 0;
            padding-bottom: 0;
        }
        &.o_spc-small .row > div {
            padding-top: $spacer * .5;
            padding-bottom: $spacer * .5;
        }
        &.o_spc-medium .row > div {
            padding-top: $spacer;
            padding-bottom: $spacer;
        }
        &.o_spc-big .row > div {
            padding-top: $spacer * 1.5;
            padding-bottom: $spacer * 1.5;
        }
    }
    &:not(.o_slideshow) {
        img {
            cursor: pointer;
        }
    }
    &.o_slideshow {
        .carousel {
            .media_iframe_video {
                // 70% because the carousel controls are each 15% and the user
                // must be able to click on the video buttons.
                width: 70%;
                height: 100%;
            }
        }

        ul.carousel-indicators > * {
            display: inline-block;
            width: var(--s_image_gallery_carouselIndicator_size, 40px);
            height: var(--s_image_gallery_carouselIndicator_size, 40px);
            margin: 0 map-get($spacers, 1);
            background-size: cover;
            background-position: center;
            &:not(.active) {
                filter: grayscale(1);
            }
        }

        > .container, > .container-fluid, > .o_container_small {
            height: 100%;
        }

        > .container-fluid {
            padding: 0;
        }

        &:not(.s_image_gallery_show_indicators) .carousel {
            ul.carousel-indicators {
                display: none;
            }
            .carousel-item.active,
            .carousel-item-next,
            .carousel-item-prev,
            .carousel-control-next,
            .carousel-control-prev {
                padding-bottom: 0px;
            }
        }

        &.s_image_gallery_indicators_arrows_boxed, &.s_image_gallery_indicators_arrows_rounded {
            .carousel {
                .carousel-control-prev,
                .carousel-control-next {
                    // Directional icons replaced by oi but keeping fa here, it
                    // is still used by already dropped snippet
                    .fa, .oi {
                        text-shadow: none;
                    }
                }
            }
        }

        &.s_image_gallery_indicators_arrows_boxed, &.s_image_gallery_indicators_arrows_rounded, &.s_image_gallery_indicators_arrows_transparent {
            .carousel {
                .carousel-control-prev,
                .carousel-control-next {
                    opacity: 1;

                    .fa:before, .oi:before {
                        display: block;
                        border: 1px solid $border-color;
                        border-radius: $border-radius;
                        padding: map-get($spacers, 3);
                        background-color: $white;
                        color: $gray-600;
                        box-shadow: $box-shadow-sm;
                    }

                    .fa:hover:before, .oi:hover:before {
                        background-color: $gray-100;
                        transition: $btn-transition;
                    }

                    .fa:before {
                        @include font-size(1.25rem);
                    }

                    .oi:before {
                        @include font-size(1rem);
                    }
                }
            }
        }

        &.s_image_gallery_indicators_arrows_rounded, &.s_image_gallery_indicators_arrows_transparent {
            .carousel {
                .carousel-control-prev,
                .carousel-control-next {
                    .fa:before, .oi:before {
                        border-radius: $border-radius-pill;
                    }
                }
            }
        }

        &.s_image_gallery_indicators_arrows_transparent {
            .carousel {
                .carousel-control-prev,
                .carousel-control-next {
                    .fa:before, .oi:before {
                        border: 0;
                        background-color: rgba($dark, .35);
                        color: $white;
                        box-shadow: none;
                    }

                    .fa:hover:before, .oi:hover:before {
                        background-color: rgba($dark, .6);
                    }
                }
            }
        }

        &.s_image_gallery_arrows_bottom {
            .carousel-control-prev, .carousel-control-next {
                align-items: end;
            }
        }

        &.s_image_gallery_indicators_rounded {
            .carousel ul.carousel-indicators li {
                border-radius: 50%;
            }
        }

        &.s_image_gallery_indicators_dots {
            .carousel ul.carousel-indicators {
                margin: 0;
                padding: map-get($spacers, 4);

                li {
                    width: map-get($spacers, 2);
                    height: map-get($spacers, 2);
                    border: 1px solid $border-color;
                    border-radius: $border-radius-pill;
                    background-color: $white;
                    background-image: none !important;
                    opacity: .3;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }

        &.s_image_gallery_indicators_outside {
            .carousel ul.carousel-indicators {
                position: relative;

                & li {
                    background-color: currentColor;
                }
            }
        }

        @extend %image-gallery-slideshow-styles;
    }
    .carousel-inner .item img {
        max-width: none;
    }
}

.s_gallery_lightbox {
    .modal-dialog {
        height: 100%;
        background-color: rgba(0,0,0,0.7);
    }
    @include media-breakpoint-up(sm) {
        .modal-dialog {
            max-width: 100%;
            padding: 0;
        }
    }
    ul.carousel-indicators {
        display: none;
    }

    .modal-body.o_slideshow {
        @extend %image-gallery-slideshow-styles;
    }
}

%image-gallery-slideshow-styles {
    .carousel {
        height: 100%;

        .carousel-inner {
            height: 100%;
        }
        .carousel-control-next,
        .carousel-control-prev {
             .fa, .oi {
                text-shadow: 0px 0px 3px $gray-800;
            }
        }
    }
}
