.o_payment_form .o_outline {

    &:hover {
        border-color: $primary;
    }

    &:not(:first-child):hover {
        // Since list-group items, except the first child, have no top border, this emulates the top
        // border for the hovered state.
        box-shadow: 0 (-$border-width) 0 $primary;
    }

    .o_payment_option_label:before {
        position: absolute;
        inset: 0;
        content: '';
        cursor: pointer;
    }

}

button[name="o_payment_submit_button"] {
    min-width: 150px;
    padding: 0;
    margin-bottom: 6px;
}

@media only screen and (min-width: 75px) {
    button[name="o_payment_submit_button"] {
        height: 25px;
    }
}

@media only screen and (min-width: 150px) {
    button[name="o_payment_submit_button"] {
        height: 25px;
    }
}

@media only screen and (min-width: 200px) {
    button[name="o_payment_submit_button"] {
        height: 35px;
    }
}

@media only screen and (min-width: 300px) {
    button[name="o_payment_submit_button"] {
        height: 45px;
    }
}

.modal-body button[name="o_payment_submit_button"] {
    height: 25px;
}
