// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_LinkPreviewVideo {
    max-width: 33vw;
}

.o_linkPreviewVideo_overlayBackground {
    height: 160px;
    background-position: center;
    background-size: cover;
}
