.o_notification_manager {
  @include o-position-absolute(3.5rem, 0);
  position: fixed;
  z-index: ($zindex-modal + $zindex-popover) / 2;
  width: $toast-max-width;
  margin-right: 8px;
  max-width: 100%;

  .o_notification {
    width: 100%;
    margin-bottom: 5px;

    .toast-body {
      padding: 8px 10px;

      .o_notification_close {
        margin-left: 1rem;
      }
    }
  }

  .o_toast {
    max-width: 320px;
    overflow: hidden;
    font-size: 1.08333333rem;
    background-color: rgba(255, 255, 255, 0.7);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.25rem;
  }

}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}
