.o_main_navbar {
  position: relative;
  height: $o-navbar-height;
  border-bottom: 1px solid $o-navbar-inverse-link-hover-bg;
  background-color: $o-brand-odoo;
  color: white;

  * {
    list-style: none;
  }
  > *:first-child {
    margin-right: 5px;
  }

  .o_menu_sections {
    margin: 0;
  }

  .o_dropdown_toggler,
  > .o_dropdown_item,
  > .o_menu_sections > .o_dropdown_item {
    height: $o-navbar-height;
    line-height: $o-navbar-height;
    padding: 0 $o-dropdown-hpadding / 2 !important;
  }

  .o_navbar_apps_menu,
  .o_menu_brand,
  .o_menu_sections > * {
    float: left;
  }

  .o_navbar_apps_menu > button.o_dropdown_toggler {
    padding: 0 $o-horizontal-padding - 4px 0 $o-horizontal-padding !important;
  }

  .o_menu_systray {
    float: right;
    margin: 0;
    line-height: $o-navbar-height;
  }

  .o_menu_brand {
    &.o_dropdown_item {
      cursor: pointer;
      display: block;
      font-size: 1.8rem;
      font-weight: 500;
      margin-right: 3rem;
      padding: 0 $o-horizontal-padding - 4px 0 $o-horizontal-padding;
      user-select: none;
    }
  }
}
