.o_knowledge_form_view {
    --default-sidebar-size: 300px;
    --sidebar-size: clamp(300px, var(--default-sidebar-size), 50vw);

    .o_knowledge_header,
    .o_knowledge_aside,
    .o_knowledge_editor {
        background: white;
    }

    .o_knowledge_editor {
        min-height: 100%;
        .o_readonly {
            padding: 5px 10px;
        }
        .o_wysiwyg_wrapper {
            margin: 0 !important;
        }
        .o_wysiwyg_resizer {
            display: none;
        }
        .oe_form_field,
        .odoo-editor {
            display: flex;
            flex-direction: column;
        }
        .oe_form_field,
        .odoo-editor,
        .note-editable {
            flex-grow: 1;
        }
        .note-editable {
            border: none;
            height: auto !important;
        }
    }

    .o_knowledge_aside {
        width: var(--sidebar-size);
        .btn-link:hover {
            background-color: #CECECE;
        }
        .o_search_bar:hover {
            cursor: pointer;
        }
        ul {
            padding-left: 15px; /* indentation space */
        }
        li {
            list-style-type: none;
            & > ul {
                border-left: 2px solid #eee;
            }
        }
        .o_section_header:not(:hover) .o_section_create,
        .o_article:not(:hover) .o_article_create {
            visibility: hidden;
        }
        .o_article_name {
            cursor: pointer;
        }
        .o_placeholder {
            background-color: #eee;
        }
        &.dragging {
            .o_tree:empty {
                border: 1px solid #EEE;
                &::after {
                    content: ".";
                    visibility: hidden;
                }
            }
        }
    }

    .o_knowledge_resizer {
        position: absolute;
        top: 0;
        left: -10px;
        width: 20px;
        height: 100%;
        cursor: ew-resize;
        touch-action: none;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 9px;
            width: 3px;
            height: 100%;
            background: $o-gray-100;
        }
        &:hover::after {
            background: $o-gray-300;
        }
    }

    .o_knowledge_chatter_container {
        border-top: 1px solid $o-gray-300;
        li.nav-item {
            display: none;
        }
        .o_FormRenderer_chatterContainer {
            max-width: unset;
            &.o-aside {
                width: auto;
                padding: 1rem;
                border-left: 0px;
            }
        }
    }

    .dropdown-menu.o_knowledge_emoji_panel {
        min-width: 225px;
        width: 225px;
        span:hover {
            cursor: pointer;
            background: #eee;
        }
    }
    .dropdown-menu.o_knowledge_more_options_panel {
        min-width: 225px;
        width: 225px;
    }
}

.knowledge_select2_search_result {
    img {
        width: 100%;
        max-width: 20px;
        max-height: 20px;
    }
}

.o_knowledge_kanban_view {
    .o_knowledge_kanban_card {
        min-height: 125px;
    }
}

// Media queries:

@include media-breakpoint-up(sm) {
    .o_knowledge_form_view {
        .o_scroll_view {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}

@include media-breakpoint-down(xs) {
    .o_knowledge_form_view {
        .o_knowledge_aside {
            width: 100%;
        }
    }
}

@media print {
    .o_knowledge_header,
    .o_knowledge_aside,
    .o_knowledge_resizer {
        display: none !important;
    }
}
